@import url("../bower_components/bootstrap/dist/css/bootstrap.min.css");
@import url("../bower_components/fontawesome/css/font-awesome.min.css");
@import url("../bower_components/uninett-bootstrap-theme/css/uninett.css");
@import url("../bower_components/selectize/dist/css/selectize.bootstrap3.css");


.uninett-font-green {
    color: #006c48;
}

body.stateLoggedIn  .showOnLoggedIn { display: block !important; }
body.stateLoggedIn  .showOnLoggedOut { display: none; }

body.stateLoggedOut .showOnLoggedIn { display: none ; }
body.stateLoggedOut .showOnLoggedOut { display: block !important; }



div.list-group-item.providerentry {
	cursor: pointer;
}


.selectize-dropdown-content {
	max-height: 500px !important;
}
.media {
	margin-top: 0px;
	margin-bottom: 0px;
}
.media .media-body p {
	margin-bottom: 0px;
}

#profilephoto img {
	max-height: 48px;
	max-width: 48px;
	border: 0px solid #b6b6b6;
	border-radius: 32px;
	box-shadow: 1px 1px 4px #aaa;
	margin-top: -28px;
}



#apilisttabcontent .tab-pane {
	padding-top: 1em;
}
#apilisttabcontent .apiEntry {
	cursor: pointer;
}
#apilisttabcontent .apiEntry .showOnOpened { display: none!important; }
#apilisttabcontent .apiEntry .hideOnOpened { display: inline-block!important; }
#apilisttabcontent .apiEntry.opened .showOnOpened { display: block !important; }
#apilisttabcontent .apiEntry.opened .hideOnOpened { display: none !important; }


.endpointFormatDescr {
	margin-left: 2em;
	margin-top: 1em;
}
.endpointFormatDescr.endpointValidOK {
	color: #060;
}
.endpointFormatDescr.endpointValidOK .ifOK {
	display: inline !important;
}
.endpointFormatDescr.endpointValidBad {
	color: #600;
}
.endpointFormatDescr.endpointValidBad .ifBad {
	display: inline !important;
}

.form-group {
	margin-bottom: 1.6em;
}
.form-group p {
	margin: 0px;
}

body {
	margin: 0;
	padding: 0;
	/*font-family: Helvetica, arial, sans-serif;*/
	font-size: 15px;
	color: #454545;
	background: #fff; 
	text-shadow: 0 1px 0 rgba(0,0,0,0.02);
	-webkit-font-smoothing: antialiased;
}
a, a:visited {
	color: #3fabff;
	text-decoration: none;
}
a:hover {
	color: #008af5;
}
h1 {
	margin: 0;
	font-weight: 300;
	font-size: 35px;
	letter-spacing: -1px;
}
h2 {
	font-size: 15px;
	color: #a0a0a0;
	margin: 30px 0;
}
label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}
p, .control-group {
	margin: 0 0 20px 0;
}
.demo {
	border-bottom: 1px solid #e8e8e8;
	padding-top: 50px;
	padding-bottom: 50px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.demo:last-child {
	border-bottom: 0 none;
}
.demo select, .demo input, .demo .selectize-control {
	width: 100%;
}
.demo > *:first-child {
	margin-top: 0;
}
.demo > *:last-child {
	margin-bottom: 0;
}
.demo .value {
	margin: 0 0 10px 0;
	font-size: 12px;
}
.demo .value span {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
.theme-selector {
	margin-top: 10px;
	font-size: 13px;
}
.theme-selector:before {
	content: 'Themes: ';
}
.theme-selector a {
	margin: 0 5px;
}
.theme-selector a.active {
	color: #202020;
	font-weight: bold;
}
#wrapper {
	margin: 0;
}
#wrapper > * {
	padding-left: 100px;
	padding-right: 100px;
}
pre {
	background: #f8f8f8;
	border: 1px solid #f2f2f2;
	padding: 10px;
	font-size: 12px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[type=button] {
	margin: 0 10px 0 0;
	padding: 6px 10px;
	color: #606060;
	background: #e0e0e0;
	border: 0 none;
	width: auto;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}
.buttons {
	margin: 0 0 25px 0;
}
input[type=button]:hover {
	background: #dadada;
}

@media only screen and (max-width : 320px) {
	body {
		margin: 20px 0;
	}
	#wrapper {
		margin: 0;
	}
	#wrapper > * {
		padding-left: 10px;
		padding-right: 10px;
	}
	.demo {
		padding: 20px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}







.selectize-control.repositories .selectize-dropdown > div {
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.selectize-control.repositories .selectize-dropdown .by {
	font-size: 11px;
	opacity: 0.8;
}
.selectize-control.repositories .selectize-dropdown .by::before {
	content: 'by ';
}
.selectize-control.repositories .selectize-dropdown .name {
	font-weight: bold;
	margin-right: 5px;
}
.selectize-control.repositories .selectize-dropdown .title {
	display: block;
}
.selectize-control.repositories .selectize-dropdown .description {
	font-size: 12px;
	display: block;
	color: #a0a0a0;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}
.selectize-control.repositories .selectize-dropdown .meta {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 10px;
}
.selectize-control.repositories .selectize-dropdown .meta li {
	margin: 0;
	padding: 0;
	display: inline;
	margin-right: 10px;
}
.selectize-control.repositories .selectize-dropdown .meta li span {
	font-weight: bold;
}
.selectize-control.repositories::before {
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	content: ' ';
	z-index: 2;
	position: absolute;
	display: block;
	top: 12px;
	right: 34px;
	width: 16px;
	height: 16px;
	background: url(images/spinner.gif);
	background-size: 16px 16px;
	opacity: 0;
}
.selectize-control.repositories.loading::before {
	opacity: 0.4;
}
.icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
	background-size: 16px 16px;
	margin: 0 3px 0 0;
}
.icon.fork {
	background-image: url(images/repo-fork.png);
}
.icon.source {
	background-image: url(images/repo-source.png);
}










.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.logo {
    max-width: 48px;
    max-height: 48px;
}

.logo-small {
    width: 32px;
    height: 32px;
}

.imagezone {
    min-height: 128px;
    min-width: 128px;
}
