{#apis}
<div class="list-group-item apiEntry" data-apigkid="{id}">


	<div class="row">

		<div class="col-md-1" style="padding-top: 8px">
			<i class="fa fa-chevron-right fa-2x hideOnOpened"></i>
			<i class="fa fa-chevron-down fa-2x showOnOpened"></i>
		</div>
		<div class="col-md-7">
			<div class="media">
				
				<div class="media-left">
					<img style="max-width: 48px; max-height: 48px" class="media-object" src="{_config.apis.core}/apigkadm/apigks/{id}/logo" alt="Logo of 3rd party API">
				</div>
				<div class="media-body">

					<h4 class="list-group-item-heading">{name}</h4>
					<p class="list-group-item-text">{descr}</p>
				</div>

			</div>
		</div>

		<div class="col-md-4">
			
			{?apigktrustOwner}
				{#owner}
					
					<div class="media">
						<div class="media-left">
							<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{_config.apis.auth}/user/media/{id}">
						</div>
						<div class="media-body">
							<p>{name}
							</p>
						</div>
					</div>
				{/owner}
			{/apigktrustOwner}

			{?apigktrustOrg}
				{#organization}
					<div class="media">
						<div class="media-left">
							<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{_config.apis.core}/orgs/{id}/logo">
						</div>
						<div class="media-body">
							<p>{name}
							</p>
						</div>
					</div>
				{/organization}
			{/apigktrustOrg}
		</div>

	</div><!-- end row -->




	<div class="extendedinfo showOnOpened" style="display: none; margin-top: 2em">

		{#scopedef}

			<table style="font-size: 85%" class="table table-striped">
				<tbody>
					<tr>
						<td><input type="checkbox" checked="checked" disabled="disabled" /></td>
						<td>{title}</td>
						<td style="font-size: 90%"><code>gk_{id}</code></td>

						<td>
							{#policy.auto}
								<span class="label label-success">
									<i class="fa fa-check"></i>&nbsp;
									Accept</span>
							{:else}
								<span class="label label-danger">
									<i class="fa fa-check-square-o"></i>&nbsp;
									Moderate</span>
							{/policy.auto}
						</td>
					</tr>

					{#subscopes}

						<tr>
							<td><input type="checkbox" class="subScopeSelection" name="gk_{id}_{scope}" /></td>
							<td>{title}</td>
							<td style="font-size: 90%"><code>gk_{id}_{scope}</code></td>

							<td>
								{#policy.auto}
									<span class="label label-success">
										<i class="fa fa-check"></i>&nbsp;
										Accept</span>
								{:else}
									<span class="label label-danger">
										<i class="fa fa-check-square-o"></i>&nbsp;
										Moderate</span>
								{/policy.auto}
							</td>
						</tr>

					{:else}
						<tr><td colspan="4">No subscopes</td></tr>
					{/subscopes}


				</thead>

			</table>

		{/scopedef}



		<p style="margin-top: .3em; margin-bottom: 0px">
			{?scopedef.policy.auto}
				<button class="btn btn-sm btn-primary actAPIadd">
					<i class="glyphicon glyphicon-chevron-left"></i>
					Add access</button>
			{/scopedef.policy.auto}
			{^scopedef.policy.auto}
				<button class="btn btn-sm btn-warning actAPIadd">
					<i class="glyphicon glyphicon-chevron-left"></i>
					Request access</button>
			{/scopedef.policy.auto}
		</p>


	</div><!-- end extendedinfo -->


</div>

{:else}
	<p>No third party APIs available</p>
{/apis}