
<div id="apilisttabcontent" class="apilist-tab-content">
	<div role="tabpanel" style="" class="tab-pane" id="apilistaccepted">



		<div class="list-group">
		{#authorizedAPIs}
			<div class="list-group-item apiEntry" data-apigkid="{id}">


				<div class="row">
					
					<div class="col-md-8">
						<div class="media">
							{>apigkinfo/}
						</div>
					</div>

					<div class="col-md-4">
						{>trustblock/}
					</div>

				</div><!-- end row -->



				<div class="row" style="margin-top: .9em">
					<div class="col-md-12">

						<h5>API Base URL</h5>

						<p><code>{baseurl}</code></p>


						{?systemdescr}
						<h5>{_.extended_description_for_system_developers}</h5>
						<p class="list-group-item-text">{systemdescr|s|h|acceptnewline}</p>
						{/systemdescr}

						<ul style="margin-top: .6em">
							{?docurl}<li><a target="_blank" href="{docurl}">{_.api_documentation}</a></li>{/docurl}
							{?privacypolicyurl}<li><a target="_blank" href="{privacypolicyurl}">{_.privacypolicy}</a></li>{/privacypolicyurl}
						</ul>

					</div>
				</div><!-- end row -->


				{#sd}

					<table style="font-size: 85%; margin-top: 1em" class="table table-striped">
						<thead>
							<tr>
								<td>&nbsp;</td>
								<td>Status</td>
								<td>{_.scope_name}</td>
								<td>{_.scope}</td>
								<td>Policy</td>
							</tr>
						</thead>
						<tbody>
							<tr>

								<td>
									<input class="authscope" data-scopetype="main" data-scopemoderate="{fullid}" type="checkbox" checked="checked" />
								</td>

								<td>{>sdstatus/}</td>

								<td>{title}</td>
								<td style="font-size: 90%"><code>{fullid}</code></td>

								<td>{>sdpolicyinfo/}</td>







							</tr>

							{#subscopes}

								<tr>


									<td style="padding-left: 12px">

										{?status.checked}
											<input class="authscope" type="checkbox" data-scopetype="sub" data-scopemoderate="{fullid}" checked="checked" />
										{:else}

											<input class="authscope" type="checkbox" data-scopetype="sub" data-scopemoderate="{fullid}" />
										{/status.checked}


									</td>
									<td>
										{>sdstatus/}
									</td>

									<td>{title}</td>
									<td style="font-size: 90%"><code>{fullid}</code></td>

									<td>{>sdpolicyinfo/}</td>


								</tr>

							{:else}
								<tr><td colspan="5">{_.no_subscopes}</td></tr>
							{/subscopes}


						</thead>

					</table>

				{/sd}



				<p class="">

					<button class="btn btn-sm btn-primary actAPIScopeUpdate ">
						{_.savechanges}</button>

				</p>

				{#orgadminscopematrix}
					{>orgadminscopematrix/}
				{/orgadminscopematrix}

			</div>
		{:else}
			<p>{_.no_third_party_apis_authorized}</p>
		{/authorizedAPIs}
		</div>



	</div>







	<div role="tabpanel" style="display: none" class="tab-pane" id="apilistrequested">



		<div class="list-group">

		{#requestedAPIs}
			<div class="list-group-item apiEntry" data-apigkid="{id}">


				<div class="row">
					
					<div class="col-md-8">
						<div class="media">
							{>apigkinfo/}
						</div>
					</div>

					<div class="col-md-4">
						{>trustblock/}
					</div>

				</div><!-- end row -->







				{#sd}

					<table style="font-size: 85%" class="table table-striped">
						<thead>
							<tr>
								<td colspan="2">{_.update_status}</td>
								<td>{_.scope_name}</td>
								<td>{_.scope}</td>
								<td>Policy</td>
							</tr>
						</thead>
						<tbody>
							<tr>


								<td>
									<input class="authscope" data-scopetype="main" data-scopemoderate="{fullid}" type="checkbox" checked="checked" />
								</td>


								<td>{>sdstatus/}</td>

								<td>{title}</td>
								<td style="font-size: 90%"><code>{fullid}</code></td>

								<td>{>sdpolicyinfo/}</td>

							</tr>

							{#subscopes}

								<tr>


									<td style="padding-left: 12px">


										{?status.checked}
											<input class="authscope" type="checkbox" data-scopetype="sub" data-scopemoderate="{fullid}" checked="checked" />
										{:else}

											<input class="authscope" type="checkbox" data-scopetype="sub" data-scopemoderate="{fullid}" />
										{/status.checked}



									</td>
									<td>
										{>sdstatus/}
									</td>

									<td>{title}</td>
									<td style="font-size: 90%"><code>{fullid}</code></td>

									<td>{>sdpolicyinfo/}</td>


								</tr>

							{:else}
								<tr><td colspan="5">{_.no_subscopes}</td></tr>
							{/subscopes}


						</thead>

					</table>

				{/sd}



				<p class="">

					<button class="btn btn-sm btn-primary actAPIScopeUpdate pull-right">
						{_.savechanges}</button>

				</p>

			</div>

		{:else}
			<p>{_.no_third_party_apis_requested}</p>
		{/requestedAPIs}
		</div>


	</div>







	<div role="tabpanel" style="display: none" class="tab-pane" id="apilistavailableown">

		<p>{_.own_admin_api_descr}</p>

		<div style="margin-top: 2em" id="apicontainerown" class="list-group">
		</div>
	</div>





<!-- Available APIS -->


	<div role="tabpanel" style="display: none" class="tab-pane" id="apilistavailable">


		<div class="row">
			<div class="col-md-6">
				<input type="text" id="apisearch" class="form-control" placeholder="{_.search_for_an_api}">
			</div>
			<div class="col-md-6 well">
				<p style="margin: 0px; font-size: 130%" >{_.filter_apis_by_provider}</p>
				<ul id="apilistfilterprovider" class="nav nav-pills">
					<li role="presentation" class="active"><a href="#">{_.show_all}</a></li>
					<li role="presentation" class="disabled"><a href="#">UNINETT</a></li>
					<li role="presentation" class="disabled"><a href="#">FSAT</a></li>
				</ul>
			</div>
			
		</div>


		<div style="margin-top: 2em" id="publicapicontainer" class="list-group">
		</div>
	</div>



</div>
