{#apis}
<div class="list-group-item apiEntry" data-apigkid="{id}">


	<div class="row">

		<div class="col-md-1" style="padding-top: 8px">
			<i class="fa fa-chevron-right fa-2x hideOnOpened"></i>
			<i class="fa fa-chevron-down fa-2x showOnOpened"></i>
		</div>
		{?own}
		<div class="col-md-11">
			 {>APIGKInfo/}
		 </div>

		{:else}
		<div class="col-md-7">
			{>APIGKInfo /}
		</div>

		<div class="col-md-4">
			{>TrustBlock/}
		</div>
		{/own}

	</div><!-- end row -->




	<div class="extendedinfo showOnOpened" style="display: none; margin-top: 2em">


		{?systemdescr}
		<h5>{_.extended_description_for_system_developers}</h5>
		<p style="margin-botton: 1em">{systemdescr|s|h|acceptnewline}</p>
		{/systemdescr}
		<ul style="margin-top: .6em; margin-bottom: 1em">
			{?docurl}<li><a target="_blank" href="{docurl}">{_.api_documentation}</a></li>{/docurl}
			{?privacypolicyurl}<li><a target="_blank" href="{privacypolicyurl}">{_.privacypolicy}</a></li>{/privacypolicyurl}
		</ul>

		{#scopedef}

			<table style="font-size: 85%" class="table table-striped">
				<tbody>
					<tr>
						<td><input type="checkbox" checked="checked" disabled="disabled" /></td>
						<td>{title}</td>
						<td style="font-size: 90%"><code>gk_{id}</code></td>

						<td>{>ScopeDefPolicyInfo/}</td>
					</tr>

					{#subscopes}

						<tr>
							<td><input type="checkbox" class="subScopeSelection" name="gk_{id}_{scope}" /></td>
							<td>{title}</td>
							<td style="font-size: 90%"><code>gk_{id}_{scope}</code></td>

							<td>{>ScopeDefPolicyInfo/}</td>
						</tr>

					{:else}
						<tr><td colspan="4">{_.no_subscopes}</td></tr>
					{/subscopes}


				</thead>

			</table>

		{/scopedef}



		<p style="margin-top: .3em; margin-bottom: 0px">
			{?canadd}
				<button class="btn btn-sm btn-primary actAPIadd">
					<i class="glyphicon glyphicon-chevron-left"></i>
					{_.add_access}
				</button>
			{:else}
				<button class="btn btn-sm btn-warning actAPIadd">
					<i class="glyphicon glyphicon-chevron-left"></i>
					{_.request_access}
				</button>
			{/canadd}
		</p>


	</div><!-- end extendedinfo -->


</div>

{:else}
	<p>{_.no_third_party_apis_available}</p>
{/apis}
