<p><strong>{_.api_authorization_by_organizations}</strong></p>
<table class="table table-striped" style="margin-bottom: 3em">
<thead>
	<tr>
		<td>{_.organization}</td>
		{#scopes}
			<td>{descr.title}</td>
		{/scopes}
	</tr>

</thead>
<tbody>
	{#orgs}
	<tr>
		<td>{org}</td>
		{#scopes}
			<td>
			{?.}
				<span class="label label-success">
					<i class="fa fa-check-square-o"></i>&nbsp;
					{_.accepted}</span>
			{:else}
				<span class="label label-danger">
					<i class="fa fa-square-o"></i>&nbsp;
					{_.requested}</span>
			{/.}
			</td>
		{/scopes}
	</tr>
	{/orgs}
</tbody>
</table>
