<div class="porgslist list-group" style="margin-top: 1em">
{#orgs}
	<a href="#" data-orgid="{id}" class="list-group-item media orgEntry" data-searchable="{name}">
		<div class="media-left">
			<img class="media-object logo" src="{@orgLogoURL id="{id}" /}" alt="{@formatMessage _key="org_logo_alt" orgname=name/}">
		</div>
		<div class="media-body">

			{#services}
				<span class="label label-info pull-right" style="margin-right: 5px">{.}</span>
			{/services}

			<h4 class="list-group-item-heading">{name}</h4>
			<p class="list-group-item-text" style="font-size: 80%" ><i class="glyphicon glyphicon-chevron-right"></i> {id}</p>
		</div>
	</a>
{:else}
	<p>{_.no_orgs_registered}</p>
{/orgs}
</div>
