		<div class="well">
			<h3>{_.platform_admin}</h3>

			<p>{_.drag_replace_logo}</p>

			<!-- Single button -->
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-warning"></i> {_.platform_admin_operations} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a class="actAvtale0" href="#"><i class="fa fa-fw fa-check"></i> {_.set_contract}</a></li>
					<li><a class="actAvtale1" href="#"><i class="fa fa-fw fa-times"></i> {_.remove_contract}</a></li>
					<li role="separator" class="divider"></li>

					<li><a class="actGrupper0" href="#"><i class="fa fa-fw fa-check"></i> {_.set_groups_from_fs}</a></li>
					<li><a class="actGrupper1" href="#"><i class="fa fa-fw fa-times"></i> {_.remove_groups_from_fs}</a></li>
					<li role="separator" class="divider"></li>


					<li><a class="actGeo" href="#"><i class="fa fa-fw fa-map-marker"></i> {_.edit_geo_coords}</a></li>
				</ul>
			</div>

		</div>
