{?trustOwner}
	{#owner}
		<div class="media">
			<div class="media-left">
				<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{@profilePhotoURL userid="{id}" /}">
			</div>
			<div class="media-body">
				<p>{name}
				</p>
			</div>
		</div>
	{/owner}
{/trustOwner}

{?trustOrg}
	{#organization}
		<div class="media">
			<div class="media-left">
				<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{@orgLogoURL id="{id}" /}">
			</div>
			<div class="media-body">
				<p>{name}
				</p>
			</div>
		</div>
	{/organization}
{/trustOrg}
