<div class="row">
	<div class="col-sm-2">
			
		<ul class="nav nav-pills nav-stacked tabselector" style="text-align:right">
			<li role="presentation" data-tabid="tabBasic" class=""><a href="#">{_.basicinfo}</a></li>
			<li role="presentation" data-tabid="tabExtended" class=""><a href="#">{_.extendedinfo}</a></li>
			<li role="presentation" data-tabid="tabScopesClient" class=""><a href="#">{_.permissions}</a></li>
			<li role="presentation" data-tabid="tabScopes" class=""><a href="#">{_.api_scopes}</a></li>
			<li role="presentation" data-tabid="tabAccess" class=""><a href="#">{_.api_access}</a></li>
			<li role="presentation" data-tabid="tabRequests" class="">
				<a href="#"><span class="label label-danger queuecount pull-left"></span> {_.requests}</a></li>
			<li role="presentation" data-tabid="tabClients" class=""><a href="#">{_.applications}</a></li>
			<!-- <li role="presentation" data-tabid="tabStatistics" class=""><a href="#">{_.usage_statistics}</a></li> -->
			<li role="presentation" data-tabid="tabDelete" class=""><a href="#">{_.delete}</a></li>
		</ul>

	</div>


	<div class="col-sm-10 tabcontainer">




		<div id="tabBasic" class="row">


			<div class="col-sm-9">


				<form class="" style="">


					<div class="form-group">
						<label for="apiid">{_.identifier}</label>
						<input style="font-size: 150%" type="text" class="form-control " disabled="disabled" id="apiid" placeholder="" value="{id}" >
					</div>

					<div class="form-group">
						<label for="apiname">{_.name}</label>
						<input style="font-size: 150%" type="text" class="form-control" id="apiname" placeholder="" value="{name}">
					</div>

					<div class="form-group">
						<label for="descr">{_.descrendusers}</label>
						<textarea class="form-control" id="descr" rows="3">{descr}</textarea>
					</div>

					<div class="form-group">

						<label>
							<input id="ispublic" class="" type="checkbox" {#statuses.public} checked="checked" {/statuses.public} /> {_.public_api}
						</label>
						<p>{_.public_api_info}</p>
						
					</div>

					<div class="form-group">

						<label>
							<input class="fieldrequireuser" type="checkbox" {#requireuser} checked="checked" {/requireuser} /> Require authenticated user
						</label>

						<p>Uncheck this if clients should be allowed to interact with this API without any authenticated user.</p>
					</div>



					<div class="form-group">
						<label for="endpoint">{_.apiendpoint}</label>
						<p>{_.apigk_endpoint_descr}</p>
						
						<input type="text" class="form-control" id="endpoint" placeholder="https://example.org/api" value="{endpoints[0]}" >

						<div class="endpointFormatDescr">
							<p>{_.apirules}</p>
							<p>{_.inexample}</p>
							<code>https://api.example.org</code>
						</div>

					</div>



					<p><button class="btn btn-success actSaveChanges" class="">
						<i class="glyphicon glyphicon-ok"></i> {_.savechanges}</button></p>

				</form>


				<div class="bs-callout bs-callout-success">
					<h4><i class="fa fa-eye"></i> {_.regpublic}</h4>
					<p>{_.regpublicinfo}</p>
				</div>

				<p style="margin: 0px">
					<span style=" color: #555">{_.registered} {@formatRelative val=created/}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {createdH}</span>
					<span style="margin-left: 2em;  color: #555">{_.updated} {@formatRelative val=updated/}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {updatedH}</span>
				</p>



			</div>

			<div class="col-sm-3 ">
				
				<div class="imagezone" style="min-height: 128px; min-width: 128px">
					<img class="itemlogo"  src="{_config.apis.core}/apigkadm/apigks/{id}/logo" style="padding: 5px; border: 1px solid #ddd; border-radius: 4px; backgroud: #eee" />
				</div>

				<p>{_.drag_replace_png} <br /><span style="font-size: 90%">{_.minimum_128px}</span></p>
			</div>

		</div>




		<div id="tabExtended" class="row">


			<div class="col-sm-12">


				<form class="" style="">

					<div class="form-group">
						<label for="systemdescr">{_.description_for_system_administrators_and_developers}</label>
						<textarea class="form-control" id="systemdescr" rows="5">{systemdescr}</textarea>
					</div>


					<div class="form-group">
						<label for="privacypolicyurl">{_.privacypolicyurl}</label>
						<input class="form-control" id="privacypolicyurl" 
							placeholder="http://" value="{privacypolicyurl}" />
					</div>


					<div class="form-group">
						<label for="docurl">{_.api_documentation}</label>
						<input class="form-control" id="docurl" 
							placeholder="http://" value="{docurl}" />
					</div>





					<p><button class="btn btn-success actSaveChanges" class="">
						<i class="glyphicon glyphicon-ok"></i> {_.savechanges}</button></p>

				</form>

				<p style="margin: 0px">
					<span style=" color: #555">{_.registered} {@formatRelative val=created/}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {createdH}</span>
					<span style="margin-left: 2em;  color: #555">{_.updated} {@formatRelative val=updated/}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {updatedH}</span>
				</p>



			</div>


		</div>










		<div id="tabAccess">

			<div class="row" style="">

				<div class="col-sm-5">
				

					{#trust}

					<p>{_.apigk_creds_info}</p>

					<dl>
						<dt>{_.trust_type}</dt>
						<dd><code>{type}</code></dd>

						<dt>{_.username}</dt>
						<dd><code>{username}</code></dd>

						<dt>{_.password}</dt>
						
						<dd><code>{password}</code></dd>
						

					</dl>
					{/trust}
				</div>

				<div class="col-sm-7">
					

					<p>{_.apigk_baseurl_info}</p>

					<p><code>https://{id}.{_appconfig.gkdomain}</code></p>
					

					{@blockTrans key="apigk_request_example"}
						{:inurl}<code>https://{id}.{_appconfig.gkdomain}/foo/bar</code>
						{:inrequest}
<pre><code class="language-http">
GET /foo/bar HTTP/1.1{~n}
Host: {id}.{_appconfig.gkdomain}{~n}
Authorization: Bearer a005656a-8510-4d34-8897-f10638bb7b05
</code></pre>	
						{:outurl}<code>{endpoints[0]}/foo/bar</code>
						{:outrequest}
<pre><code class="language-http">
GET {examplePathPrefix}/foo/bar HTTP/1.1{~n}
Host: {exampleHost}{~n}
Authorization: Basic XXXXXXXX{~n}
X-Dataporten-clientid: 42b0c02e-0dda-4882-9da0-882a4b1abad6{~n}
X-Dataporten-userid: 76a7a061-3c55-430d-8ee0-6f82ec42501f{~n}
X-Dataporten-userid-sec: feide:xxxx@uninett.no
</code></pre>
					{/blockTrans}
					<p>{_.http_header_casing_note}</p>

				</div>


			</div>

		</div>



		<div id="tabScopesClient"  style="" class="row">
			<div class="col-sm-12">
				<h3>{_.client_scopes}</h3>
				<div id="scopedef"></div>
			</div>
		</div>




		<div id="tabScopes"  style="" class="">

			<div class="row">
				<div class="col-sm-12">
					<p>{_.scopesinfo}</p>
					<p><a href="http://docs.dataporten.no/docs/oauth-scopes/" target="_blank">{_.seedocsformore}</a></p>
				</div>
			</div>


			<div class="row">
				<div class="col-sm-6">

					<h3>{_.accepted_scopes}</h3>

					<div class="list-group">
						{#scopelist.accepted}
							<div class="list-group-item scopeEntry" data-scopeid="{scope}">
								<div class="pull-right"><code class="">{scope}</code></div>
								<h4 class="list-group-item-heading">{title}</h4>
								<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>

								<div class="">
										<button class="btn btn-xs btn-danger actScopeRemove">
											<i class="glyphicon glyphicon-remove"></i>
											{_.remove_scope} 
											</button>
								</div>
								<p class="clearfix"></p>
							</div>
						{:else}
							<p>{_.no_available_scopes}</p>
						{/scopelist.accepted}
						
					</div>


					<h3 style="margin-top: 1.5em">{_.requested_scopes}</h3>

					<div class="list-group">
						{#scopelist.requested}
							<div class="list-group-item scopeEntry" data-scopeid="{scope}">
								<div class="pull-right"><code class="">{scope}</code></div>
								<h4 class="list-group-item-heading">{title}</h4>
								<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>

								<div class="" style="margin-top: .3em; margin-bottom: 0px">
									<button class="btn btn-xs btn-default actScopeRemove">
										<i class="glyphicon glyphicon-remove"></i>
										{_.remove_scope} 
										</button>
								</div>
								<p style=" padding: 0px; margin: 0px" class="clearfix"></p>
							</div>
						{:else}
							<p>{_.no_requested_scopes}</p>
						{/scopelist.requested}
					</div>

				</div>



				<div class="col-sm-6">

					<h3>{_.available_scopes}</h3>




					<div class="list-group">
						{#scopelist.available}
							<div class="list-group-item scopeEntry" data-scopeid="{scope}">
								<div class="pull-right"><code class="">{scope}</code></div>
								<h4 class="list-group-item-heading">{title}</h4>
								<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>


								<p style="margin-top: .3em; margin-bottom: 0px">
									{?policy.auto}
										<button class="btn btn-sm btn-primary actScopeAdd">
											<i class="glyphicon glyphicon-chevron-left"></i>
											{_.add_scope}</button>
									{/policy.auto}
									{^policy.auto}
										<button class="btn btn-sm btn-warning actScopeAdd">
											<i class="glyphicon glyphicon-chevron-left"></i>
											{_.request_scope}</button>
									{/policy.auto}
								</p>
								<p style=" padding: 0px; margin: 0px" class="clearfix"></p>

							</div>
						{:else}
							<p>{_.no_available_scopes}</p>
						{/scopelist.available}
					</div>

				</div>
			</div>


		</div>



		<div id="tabRequests"  style="" class="row">


			<div class="col-sm-12">

				<h3>{_.clients_requesting_access}</h3>




				{#clientsReq}

					<div class="panel panel-default authzClient" data-clientid="{id}">
						<div class="panel-body">

							<div class="row">

								<div class="col-md-8">

									<div class="media">
										
										<div class="media-left">
											<img style="max-width: 48px; max-height: 48px" class="media-object" src="{_config.apis.core}/clientadm/clients/{id}/logo" alt="{_.logo_of_client}">
										</div>

										<div class="media-body">

											<h4 class="list-group-item-heading">{name}</h4>
											<p class="list-group-item-text" style="font-size: 80%">
												<i class="glyphicon glyphicon-chevron-right"></i> {id}
											</p>
											<p class="list-group-item-text">{descr}</p>

											<p class="list-group-item-text" style="margin-top: 15px">Redirect URIs
												<ul class="list-group-item-text" style="margin: 0px;">
													{#redirect_uri}
														<li style="margin:0px; padding: 0px"><code>{.}</code></li>
													{/redirect_uri}
												</ul>
											</p>
										</div>

									</div>

								</div>

								<div class="col-md-4">
									
									{?trustOwner}
										{#owner}
											
											<div class="media">
												<div class="media-left">
													<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{_config.apis.core}/userinfo/v1/user/media/{id}">
												</div>
												<div class="media-body">
													<p>{name}
													</p>
												</div>
											</div>
										{/owner}
									{/trustOwner}

									{?trustOrg}
										{#organization}
											<div class="media">
												<div class="media-left">
													<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{_config.apis.core}/orgs/{id}/logo">
												</div>
												<div class="media-body">
													<p>{name}
													</p>
												</div>
											</div>
										{/organization}
									{/trustOrg}
								</div>

							</div>






							<div style="margin-top: 1.4em">
								{?systemdescr}
								<h5>{_.extended_description_for_system_administrators}</h5>
								<p class="list-group-item-text">{systemdescr|s|h|acceptnewline}</p>
								{/systemdescr}

								<ul style="margin-top: .6em">
									{?homepageurl}<li><a target="_blank" href="{homepageurl}">{_.apphomepage}</a></li>{/homepageurl}
									{?loginurl}<li><a target="_blank" href="{loginurl}">{_.application_login}</a></li>{/loginurl}
									{?privacypolicyurl}<li><a target="_blank" href="{privacypolicyurl}">{_.privacypolicy}</a></li>{/privacypolicyurl}
									{?supporturl}<li><a target="_blank" href="{supporturl}">{_.application_support}</a></li>{/supporturl}
								</ul>
							</div>



							<table style="font-size: 95%; margin-top: 2em" class="table table-striped">

								<thead>
									<tr>
										
										<td>{_.scope_name}</td>
										<td>Scope</td>
										<td>Policy</td>
										<td>Status</td>
										<td>Authorization</td>
									</tr>

								</thead>

								<tbody>
									<tr>
										<td>{sd.title}</td>
										<td style="font-size: 90%"><code>gk_{sd.apigkid}</code></td>

										<td>
											{#sd.policy.auto}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													{_.accept}</span>
											{:else}
												<span class="label label-danger">
													<i class="fa fa-check-square-o"></i>&nbsp;
													{_.moderate}</span>
											{/sd.policy.auto}
										</td>

										<td>

											{#sd.authz}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													{_.accepted}</span>
											{:else}

												{#sd.req}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														{_.requested}</span>
												{/sd.req}

											{/sd.authz}

										</td>

										<td>

											{#sd.authz}
												<label>
													<input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox" checked="checked" />  {_.accepted}
												</label>
											{:else}

												{#sd.req}
													<!-- <input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox"  />  -->

														<div class="radio">
															<label>
																<input type="radio" name="gk_{sd.apigkid}" value="reject" class="radioscopeauthz">
																<i class="fa fa-times"></i>&nbsp; {_.reject}
															</label>
														</div>
														<div class="radio">
															<label>
																<input type="radio" name="gk_{sd.apigkid}" value="accept" class="radioscopeauthz">
																<i class="fa fa-check"></i>&nbsp; {_.accept}
															</label>
														</div>


												{/sd.req}

											{/sd.authz}



										</td>
									</tr>




									{#sd.subscopes}

										<tr>
											<td>{title}</td>
											<td style="font-size: 90%"><code>gk_{sd.apigkid}_{scope}</code></td>

											<td>
												{?policy.auto}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														{_.accept}</span>
												{:else}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														{_.moderate}</span>
												{/policy.auto}
											</td>
											<td>

												{?status.accepted}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														{_.accepted}</span>
												{/status.accepted}

												{?status.requested}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														{_.requested}</span>
												{/status.requested}


											</td>
											<td>

												{?status.accepted}
													<label>
													<input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" checked="checked" /> {_.accepted}</label>
												{/status.accepted}

												{?status.requested}
													<!-- <input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" />  -->


													<div class="radio">
														<label>
															<input type="radio" name="gk_{sd.apigkid}_{scope}"  value="reject" class="radioscopeauthz">
															<i class="fa fa-times"></i> {_.reject}
														</label>
													</div>
													<div class="radio">
														<label>
															<input type="radio" name="gk_{sd.apigkid}_{scope}" value="accept" class="radioscopeauthz">
															<i class="fa fa-check"></i> {_.accept}
														</label>
													</div>
												{/status.requested}







											</td>
										</tr>

									{:else}
										<tr><td colspan="5">{_.no_subscopes}</td></tr>
									{/sd.subscopes}


								</thead>

							</table>

							<div class="pull-right">
								
							<button class="btn btn-primary btn-sm actUpdateAuthz">{_.update_authorizations}</button>

							</div>


						</div>
					</div>

				{/clientsReq}




			</div>
		</div>

		<div id="tabClients"  style="" class="row">


			<div class="col-sm-12">

				<h3>{_.authorized_clients}</h3>


				{#clients}

					<div class="panel panel-default authzClient" data-clientid="{id}">
						<div class="panel-body">


							<div class="row">
								
								<div class="col-md-8">
									<div class="media">
										
										<div class="media-left">
											<img style="max-width: 48px; max-height: 48px" class="media-object" src="{_config.apis.core}/clientadm/clients/{id}/logo" alt="{_.logo_of_client}">
										</div>
										<div class="media-body">

											<h4 class="list-group-item-heading">{name}</h4>
											<p class="list-group-item-text" style="font-size: 80%">
												<i class="glyphicon glyphicon-chevron-right"></i> {id}
											</p>
											<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>

											<p class="list-group-item-text" style="margin-top: 15px">Redirect URIs
												<ul class="list-group-item-text" style="margin: 0px;">
													{#redirect_uri}
														<li style="margin:0px; padding: 0px"><code>{.}</code></li>
													{/redirect_uri}
												</ul>
											</p>
										</div>

									</div>
								</div>

								<div class="col-md-4">
									
									{?trustOwner}
										{#owner}
											
											<div class="media">
												<div class="media-left">
													<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{_config.apis.core}/userinfo/v1/user/media/{id}">
												</div>
												<div class="media-body">
													<p>{name}
													</p>
												</div>
											</div>
										{/owner}
									{/trustOwner}

									{?trustOrg}
										{#organization}
											<div class="media">
												<div class="media-left">
													<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{_config.apis.core}/orgs/{id}/logo">
												</div>
												<div class="media-body">
													<p>{name}
													</p>
												</div>
											</div>
										{/organization}
									{/trustOrg}
								</div>

							</div><!-- end row -->





							<div>
								<p class="list-group-item-text" style="margin-top: 15px">{_.authorized_scopes_not_heading} &nbsp;
								
									{#scopes}
										<code>{.}</code> &nbsp;
									{/scopes}
								</p>
							</div>



							<div style="margin-top: 1.4em">
								{?systemdescr}
								<h5>{_.extended_description_for_system_administrators}</h5>
								<p class="list-group-item-text">{systemdescr|s|h|acceptnewline}</p>
								{/systemdescr}

								<ul style="margin-top: .6em">
									{?homepageurl}<li><a target="_blank" href="{homepageurl}">{_.apphomepage}</a></li>{/homepageurl}
									{?loginurl}<li><a target="_blank" href="{loginurl}">{_.application_login}</a></li>{/loginurl}
									{?privacypolicyurl}<li><a target="_blank" href="{privacypolicyurl}">{_.privacypolicy}</a></li>{/privacypolicyurl}
									{?supporturl}<li><a target="_blank" href="{supporturl}">{_.application_support}</a></li>{/supporturl}
								</ul>
							</div>



							<table style="font-size: 95%; margin-top: 2em" class="table table-striped">

								<thead>
									<tr>
										
										<td>{_.scope_name}</td>
										<td>Scope</td>
										<td>Policy</td>
										<td>Status</td>
										<td>Authorization</td>
									</tr>

								</thead>

								<tbody>
									<tr>
										<td>{sd.title}</td>
										<td style="font-size: 90%"><code>gk_{sd.apigkid}</code></td>

										<td>
											{#sd.policy.auto}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													{_.accept}</span>
											{:else}
												<span class="label label-danger">
													<i class="fa fa-check-square-o"></i>&nbsp;
													{_.moderate}</span>
											{/sd.policy.auto}
										</td>

										<td>

											{#sd.authz}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													{_.accepted}</span>
											{:else}

												{#sd.req}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														{_.requested}</span>
												{/sd.req}

											{/sd.authz}

										</td>

										<td>

											{#sd.authz}
												<input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox" checked="checked" /> 
											{:else}

												{#sd.req}
													<input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox"  /> 
												{/sd.req}

											{/sd.authz}



										</td>
									</tr>




									{#sd.subscopes}

										<tr>
											<td>{title}</td>
											<td style="font-size: 90%"><code>gk_{sd.apigkid}_{scope}</code></td>

											<td>
												{?policy.auto}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														{_.accept}</span>
												{:else}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														{_.moderate}</span>
												{/policy.auto}
											</td>
											<td>

												{?status.accepted}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														{_.accepted}</span>
												{/status.accepted}

												{?status.requested}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														{_.requested}</span>
												{/status.requested}


											</td>
											<td>

												{?status.accepted}
													<input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" checked="checked" /> 
												{/status.accepted}

												{?status.requested}
													<input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" /> 
												{/status.requested}


											</td>
										</tr>

									{:else}
										<tr><td colspan="5">{_.no_subscopes}</td></tr>
									{/sd.subscopes}


								</thead>

							</table>




							{#orgadminscopematrix}
								<div style="margin-top: 2em">
									<p><strong>{_.api_authorization_by_organizations}</strong></p>
									<table class="table table-striped" style="margin-bottom: 3em">
									<thead>
										<tr>
											<td>{_.organization}</td>
											{#scopes}
												<td>{descr.title}</td>
											{/scopes}
										</tr>

									</thead>
									<tbody>
										{#orgs}
										<tr>
											<td>{org}</td>
											{#scopes}
												<td>
												{?.}
													<span class="label label-success">
														<i class="fa fa-check-square-o"></i>&nbsp;
														{_.accepted}</span>
												{:else}
													<span class="label label-danger">
														<i class="fa fa-square-o"></i>&nbsp;
														{_.requested}</span>
												{/.}
												</td>
											{/scopes}
										</tr>
										{/orgs}
									</tbody>
									</table>
								</div>
							{/orgadminscopematrix}



							<div class="pull-right">
								
								<button class="btn btn-primary btn-sm actUpdateAuthz">{_.update_authorizations}</button>

							</div>


						</div>
					</div>

				{/clients}



			</div>
		</div>


		<div id="tabStatistics"  style="" class="row">


			<div class="col-sm-12">

				<h3>{_.usage_statistics}</h3>

				<p></p>

			</div>
		</div>


		<div id="tabDelete"  style="" class="row">

			<div class="col-sm-12">

				<p>{_.del_apigk_question}</p>

				<div><button class="btn btn-lg btn-danger actDelete">
					<i class="glyphicon glyphicon-warning-sign"></i> 
					{_.del_apigk_button}</button></div>

			</div>

		</div>




		</div>






	</div>


</div>


