<!-- <div class="row" style="margin-bottom: 1em">
	<div class="col-sm-12">
		<h1>Manage Feide Connect API Gatekeeper</h1>
	</div>
</div>
-->

<div class="row">
	<div class="col-sm-2">
			
		<ul class="nav nav-pills nav-stacked tabselector" style="text-align:right">
			<li role="presentation" data-tabid="tabBasic" class=""><a href="#">Basic info</a></li>
			<li role="presentation" data-tabid="tabExtended" class=""><a href="#">Extended info</a></li>
			<li role="presentation" data-tabid="tabScopes" class=""><a href="#">Scopes</a></li>
			<li role="presentation" data-tabid="tabAccess" class=""><a href="#">API Access</a></li>
			<li role="presentation" data-tabid="tabRequests" class="">
				<a href="#"><span class="label label-danger queuecount pull-left"></span> Requests</a></li>
			<li role="presentation" data-tabid="tabClients" class=""><a href="#">Clients</a></li>
			<!-- <li role="presentation" data-tabid="tabStatistics" class=""><a href="#">Usage statistics</a></li> -->
			<li role="presentation" data-tabid="tabDelete" class=""><a href="#">Delete</a></li>
		</ul>

	</div>


	<div class="col-sm-10 tabcontainer">




		<div id="tabBasic" class="row">


			<div class="col-sm-9">


				<form class="" style="">


					<div class="form-group">
						<label for="apiid">Identifier</label>
						<input style="font-size: 150%" type="text" class="form-control " disabled="disabled" id="apiid" placeholder="Name of client application" value="{id}" >
					</div>

					<div class="form-group">
						<label for="apiname">Name</label>
						<input style="font-size: 150%" type="text" class="form-control" id="apiname" placeholder="Name of client application" value="{name}">
					</div>

					<div class="form-group">
						<label for="descr">Description for end-users</label>
						<textarea class="form-control" id="descr" rows="3">{descr|s|h|acceptnewline}</textarea>
					</div>

					<div class="form-group">

						<label>
							<input id="ispublic" class="" type="checkbox" {#statuses.public} checked="checked" {/statuses.public} /> Public API
						</label>

						<p>Only public APIs will be visible to developers and may be requested. Do not check the API as public until it is well tested and ready to be consumer by third party developers.</p>
					</div>

					<div class="form-group">

						<label>
							<input class="fieldrequireuser" type="checkbox" {#requireuser} checked="checked" {/requireuser} /> Require authenticated user
						</label>

						<p>Uncheck this if clients should be allowed to interact with this API without any authenticated user.</p>
					</div>



					<div class="form-group">
						<label for="endpoint">API Endpoint</label>
						<p>This is the base URL endpoint of your API. The endpoints on your side that will receive all the requests.</p>
						
						<input type="text" class="form-control" id="endpoint" placeholder="https://example.org/api" value="{endpoints[0]}" >

						<div class="endpointFormatDescr">
							<p>The format of the endpoint MUST be HTTPS, a valid hostname, an optional portnumber, but no path or trailing slash.</p>
							<p>In example:</p>
							<code>https://api.example.org</code>
						</div>

					</div>





					<p><button class="btn btn-success actSaveChanges" class="">
						<i class="glyphicon glyphicon-ok"></i> Save changes</button></p>

				</form>

				<p style="margin: 0px">
					<span style=" color: #555">Registered {createdAgo}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {createdH}</span>
					<span style="margin-left: 2em;  color: #555">Updated {updatedAgo}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {updatedH}</span>
				</p>



			</div>

			<div class="col-sm-3 ">
				
				<div class="imagezone" style="min-height: 128px; min-width: 128px">
					<img class="itemlogo"  src="{_config.apis.core}/apigkadm/apigks/{id}/logo" style="padding: 5px; border: 1px solid #ddd; border-radius: 4px; backgroud: #eee" />
				</div>

				<p>Drag a new square (1:1) PNG logo over the current one to replace it. <br /><span style="font-size: 90%">Minimum 128px</span></p>
			</div>

		</div>




		<div id="tabExtended" class="row">


			<div class="col-sm-12">


				<form class="" style="">

					<div class="form-group">
						<label for="systemdescr">Description for system administrators and developers</label>
						<textarea class="form-control" id="systemdescr" rows="5">{systemdescr}</textarea>
					</div>


					<div class="form-group">
						<label for="privacypolicyurl">Privacy Policy URL</label>
						<input class="form-control" id="privacypolicyurl" 
							placeholder="http://" value="{privacypolicyurl}" />
					</div>


					<div class="form-group">
						<label for="docurl">API Documentation</label>
						<input class="form-control" id="docurl" 
							placeholder="http://" value="{docurl}" />
					</div>





					<p><button class="btn btn-success actSaveChanges" class="">
						<i class="glyphicon glyphicon-ok"></i> Save changes</button></p>

				</form>

				<p style="margin: 0px">
					<span style=" color: #555">Registered {createdAgo}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {createdH}</span>
					<span style="margin-left: 2em;  color: #555">Updated {updatedAgo}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {updatedH}</span>
				</p>



			</div>


		</div>










		<div id="tabAccess">

			<div class="row" style="">

				<div class="col-sm-5">
				

					{#trust}

					<p>These credentials are used when Connet is accessing your API.</p>

					<dl>
						<dt>Trust type</dt>
						<dd><code>{type}</code></dd>

						<dt>Username</dt>
						<dd><code>{username}</code></dd>

						<dt>Password</dt>
						
						<dd><code>{password}</code></dd>
						

					</dl>
					{/trust}
				</div>

				<div class="col-sm-7">
					

					<p>Your API may be accessed on this API Gatekeeper base URL:</p>

					<p><code>https://{id}.gk.feideconnect.no</code></p>
					

					<p>OAuth protected API requests that are sent to in example </p>

					<p><code>https://{id}.gk.feideconnect.no/foo/bar</code>, like this:</p>

<pre><code class="language-http">
GET /foo/bar HTTP/1.1{~n}
Host: {id}.gk.feideconnect.no{~n}
Authorization: Bearer a005656a-8510-4d34-8897-f10638bb7b05
</code></pre>	

		<p>is forwarded to your API, <code>{endpoints[0]}/foo/bar</code>, like this:</p>

<pre><code class="language-http">
GET /foo/bar HTTP/1.1{~n}
Authorization: Basic XXXXXXXX{~n}
X_FEIDECONNECT_CLIENTID: 42b0c02e-0dda-4882-9da0-882a4b1abad6{~n}
X_FEIDECONNECT_USERID: 76a7a061-3c55-430d-8ee0-6f82ec42501f{~n}
X_FEIDECONNECT_USERID_SEC: feide:xxxx@uninett.no
</code></pre>		


				</div>


			</div>

		</div>



		<div id="tabScopes"  style="" class="row">
			<div class="col-sm-12">
				<h3>Scopes</h3>
				<div id="scopedef"></div>
			</div>
		</div>




		<div id="tabRequests"  style="" class="row">


			<div class="col-sm-12">

				<h3>Clients requesting access</h3>




				{#clientsReq}

					<div class="panel panel-default authzClient" data-clientid="{id}">
						<div class="panel-body">




							<div class="row">

								<div class="col-md-8">

									<div class="media">
										
										<div class="media-left">
											<img style="max-width: 48px; max-height: 48px" class="media-object" src="{_config.apis.core}/clientadm/clients/{id}/logo" alt="Logo of client">
										</div>

										<div class="media-body">

											<h4 class="list-group-item-heading">{name}</h4>
											<p class="list-group-item-text" style="font-size: 80%">
												<i class="glyphicon glyphicon-chevron-right"></i> {id}
											</p>
											<p class="list-group-item-text">{descr}</p>

											<p class="list-group-item-text" style="margin-top: 15px">Redirect URIs
												<ul class="list-group-item-text" style="margin: 0px;">
													{#redirect_uri}
														<li style="margin:0px; padding: 0px"><code>{.}</code></li>
													{/redirect_uri}
												</ul>
											</p>
										</div>

									</div>

								</div>

								<div class="col-md-4">
									
									{?trustOwner}
										{#owner}
											
											<div class="media">
												<div class="media-left">
													<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{_config.apis.core}/userinfo/v1/user/media/{id}">
												</div>
												<div class="media-body">
													<p>{name}
													</p>
												</div>
											</div>
										{/owner}
									{/trustOwner}

									{?trustOrg}
										{#organization}
											<div class="media">
												<div class="media-left">
													<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{_config.apis.core}/orgs/{id}/logo">
												</div>
												<div class="media-body">
													<p>{name}
													</p>
												</div>
											</div>
										{/organization}
									{/trustOrg}
								</div>

							</div>






							<div style="margin-top: 1.4em">
								{?systemdescr}
								<h5>Extended description for system administrators</h5>
								<p class="list-group-item-text">{systemdescr|s|h|acceptnewline}</p>
								{/systemdescr}

								<ul style="margin-top: .6em">
									{?homepageurl}<li><a target="_blank" href="{homepageurl}">Application homepage</a></li>{/homepageurl}
									{?loginurl}<li><a target="_blank" href="{loginurl}">Application login</a></li>{/loginurl}
									{?privacypolicyurl}<li><a target="_blank" href="{privacypolicyurl}">Privacy policy</a></li>{/privacypolicyurl}
									{?supporturl}<li><a target="_blank" href="{supporturl}">Application Support</a></li>{/supporturl}
								</ul>
							</div>



							<table style="font-size: 95%; margin-top: 2em" class="table table-striped">

								<thead>
									<tr>
										
										<td>Scope name</td>
										<td>Scope</td>
										<td>Policy</td>
										<td>Status</td>
										<td>Authorization</td>
									</tr>

								</thead>

								<tbody>
									<tr>
										<td>{sd.title}</td>
										<td style="font-size: 90%"><code>gk_{sd.apigkid}</code></td>

										<td>
											{#sd.policy.auto}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													Accept</span>
											{:else}
												<span class="label label-danger">
													<i class="fa fa-check-square-o"></i>&nbsp;
													Moderate</span>
											{/sd.policy.auto}
										</td>

										<td>

											{#sd.authz}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													Accepted</span>
											{:else}

												{#sd.req}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Requested</span>
												{/sd.req}

											{/sd.authz}

										</td>

										<td>

											{#sd.authz}
												<label>
													<input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox" checked="checked" />  Accepted
												</label>
											{:else}

												{#sd.req}
													<!-- <input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox"  />  -->

														<div class="radio">
															<label>
																<input type="radio" name="gk_{sd.apigkid}" value="reject" class="radioscopeauthz">
																<i class="fa fa-times"></i>&nbsp; Reject
															</label>
														</div>
														<div class="radio">
															<label>
																<input type="radio" name="gk_{sd.apigkid}" value="accept" class="radioscopeauthz">
																<i class="fa fa-check"></i>&nbsp; Accept
															</label>
														</div>


												{/sd.req}

											{/sd.authz}



										</td>
									</tr>




									{#sd.subscopes}

										<tr>
											<td>{title}</td>
											<td style="font-size: 90%"><code>gk_{sd.apigkid}_{scope}</code></td>

											<td>
												{?policy.auto}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														Accept</span>
												{:else}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Moderate</span>
												{/policy.auto}
											</td>
											<td>

												{?status.accepted}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														Accepted</span>
												{/status.accepted}

												{?status.requested}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Requested</span>
												{/status.requested}


											</td>
											<td>

												{?status.accepted}
													<label>
													<input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" checked="checked" /> Accepted</label>
												{/status.accepted}

												{?status.requested}
													<!-- <input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" />  -->


													<div class="radio">
														<label>
															<input type="radio" name="gk_{sd.apigkid}_{scope}"  value="reject" class="radioscopeauthz">
															<i class="fa fa-times"></i> Reject
														</label>
													</div>
													<div class="radio">
														<label>
															<input type="radio" name="gk_{sd.apigkid}_{scope}" value="accept" class="radioscopeauthz">
															<i class="fa fa-check"></i> Accept
														</label>
													</div>
												{/status.requested}







											</td>
										</tr>

									{:else}
										<tr><td colspan="5">No subscopes</td></tr>
									{/sd.subscopes}


								</thead>

							</table>

							<div class="pull-right">
								
							<button class="btn btn-primary btn-sm actUpdateAuthz">Update authorizations</button>

							</div>


						</div>
					</div>

				{/clientsReq}




			</div>
		</div>

		<div id="tabClients"  style="" class="row">


			<div class="col-sm-12">

				<h3>Authorized clients</h3>


				{#clients}

					<div class="panel panel-default authzClient" data-clientid="{id}">
						<div class="panel-body">


							<div class="row">
								
								<div class="col-md-8">
									<div class="media">
										
										<div class="media-left">
											<img style="max-width: 48px; max-height: 48px" class="media-object" src="{_config.apis.core}/clientadm/clients/{id}/logo" alt="Logo of client">
										</div>
										<div class="media-body">

											<h4 class="list-group-item-heading">{name}</h4>
											<p class="list-group-item-text" style="font-size: 80%">
												<i class="glyphicon glyphicon-chevron-right"></i> {id}
											</p>
											<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>

											<p class="list-group-item-text" style="margin-top: 15px">Redirect URIs
												<ul class="list-group-item-text" style="margin: 0px;">
													{#redirect_uri}
														<li style="margin:0px; padding: 0px"><code>{.}</code></li>
													{/redirect_uri}
												</ul>
											</p>
										</div>

									</div>
								</div>

								<div class="col-md-4">
									
									{?trustOwner}
										{#owner}
											
											<div class="media">
												<div class="media-left">
													<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{_config.apis.core}/userinfo/v1/user/media/{id}">
												</div>
												<div class="media-body">
													<p>{name}
													</p>
												</div>
											</div>
										{/owner}
									{/trustOwner}

									{?trustOrg}
										{#organization}
											<div class="media">
												<div class="media-left">
													<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{_config.apis.core}/orgs/{id}/logo">
												</div>
												<div class="media-body">
													<p>{name}
													</p>
												</div>
											</div>
										{/organization}
									{/trustOrg}
								</div>

							</div><!-- end row -->





							<div>
								<p class="list-group-item-text" style="margin-top: 15px">Authorized scopes &nbsp;
								
									{#scopes}
										<code>{.}</code> &nbsp;
									{/scopes}
								</p>
							</div>



							<div style="margin-top: 1.4em">
								{?systemdescr}
								<h5>Extended description for system administrators</h5>
								<p class="list-group-item-text">{systemdescr|s|h|acceptnewline}</p>
								{/systemdescr}

								<ul style="margin-top: .6em">
									{?homepageurl}<li><a target="_blank" href="{homepageurl}">Application homepage</a></li>{/homepageurl}
									{?loginurl}<li><a target="_blank" href="{loginurl}">Application login</a></li>{/loginurl}
									{?privacypolicyurl}<li><a target="_blank" href="{privacypolicyurl}">Privacy policy</a></li>{/privacypolicyurl}
									{?supporturl}<li><a target="_blank" href="{supporturl}">Application Support</a></li>{/supporturl}
								</ul>
							</div>



							<table style="font-size: 95%; margin-top: 2em" class="table table-striped">

								<thead>
									<tr>
										
										<td>Scope name</td>
										<td>Scope</td>
										<td>Policy</td>
										<td>Status</td>
										<td>Authorization</td>
									</tr>

								</thead>

								<tbody>
									<tr>
										<td>{sd.title}</td>
										<td style="font-size: 90%"><code>gk_{sd.apigkid}</code></td>

										<td>
											{#sd.policy.auto}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													Accept</span>
											{:else}
												<span class="label label-danger">
													<i class="fa fa-check-square-o"></i>&nbsp;
													Moderate</span>
											{/sd.policy.auto}
										</td>

										<td>

											{#sd.authz}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													Accepted</span>
											{:else}

												{#sd.req}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Requested</span>
												{/sd.req}

											{/sd.authz}

										</td>

										<td>

											{#sd.authz}
												<input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox" checked="checked" /> 
											{:else}

												{#sd.req}
													<input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox"  /> 
												{/sd.req}

											{/sd.authz}



										</td>
									</tr>




									{#sd.subscopes}

										<tr>
											<td>{title}</td>
											<td style="font-size: 90%"><code>gk_{sd.apigkid}_{scope}</code></td>

											<td>
												{?policy.auto}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														Accept</span>
												{:else}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Moderate</span>
												{/policy.auto}
											</td>
											<td>

												{?status.accepted}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														Accepted</span>
												{/status.accepted}

												{?status.requested}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Requested</span>
												{/status.requested}


											</td>
											<td>

												{?status.accepted}
													<input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" checked="checked" /> 
												{/status.accepted}

												{?status.requested}
													<input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" /> 
												{/status.requested}


											</td>
										</tr>

									{:else}
										<tr><td colspan="5">No subscopes</td></tr>
									{/sd.subscopes}


								</thead>

							</table>




							{#orgadminscopematrix}
								<div style="margin-top: 2em">
									<p><strong>API Authorization by Organizations</strong></p>
									<table class="table table-striped" style="margin-bottom: 3em">
									<thead>
										<tr>
											<td>Organization</td>
											{#scopes}
												<td>{descr.title}</td>
											{/scopes}
										</tr>

									</thead>
									<tbody>
										{#orgs}
										<tr>
											<td>{org}</td>
											{#scopes}
												<td>
												{?.}
													<span class="label label-success">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Accepted</span>
												{:else}
													<span class="label label-danger">
														<i class="fa fa-square-o"></i>&nbsp;
														Requested</span>
												{/.}
												</td>
											{/scopes}
										</tr>
										{/orgs}
									</tbody>
									</table>
								</div>
							{/orgadminscopematrix}



							<div class="pull-right">
								
								<button class="btn btn-primary btn-sm actUpdateAuthz">Update authorizations</button>

							</div>


						</div>
					</div>

				{/clients}



			</div>
		</div>


		<div id="tabStatistics"  style="" class="row">


			<div class="col-sm-12">

				<h3>Usage statistics</h3>

				<p></p>

			</div>
		</div>


		<div id="tabDelete"  style="" class="row">

			<div class="col-sm-12">

				<p>Are you really sure that you want to delete this API Gatekeeper?</p>

				<div><button class="btn btn-lg btn-danger actDelete">
					<i class="glyphicon glyphicon-warning-sign"></i> 
					Delete this API gatekeeper, I know what I am doing</button></div>

			</div>

		</div>




		</div>






	</div>


</div>


