<div class="row" style="margin-bottom: 1em">
	<div class="col-sm-12">
		<h1>Manage Feide Connect API Gatekeeper</h1>
	</div>
</div>


<div class="row">
	<div class="col-sm-2">
			
		<ul class="nav nav-pills nav-stacked tabselector" style="text-align:right">
			<li role="presentation" data-tabid="tabBasic" class=""><a href="#">Basic info</a></li>
			<li role="presentation" data-tabid="tabTrust" class=""><a href="#">Trust</a></li>
			<li role="presentation" data-tabid="tabScopes" class=""><a href="#">Scopes</a></li>
			<li role="presentation" data-tabid="tabRequests" class="">
				<a href="#"><span class="label label-danger queuecount pull-left"></span> Requests</a></li>
			<li role="presentation" data-tabid="tabClients" class=""><a href="#">Clients</a></li>
			<li role="presentation" data-tabid="tabStatistics" class=""><a href="#">Usage statistics</a></li>
			<li role="presentation" data-tabid="tabDelete" class=""><a href="#">Delete client</a></li>
		</ul>

	</div>


	<div class="col-sm-10 tabcontainer">




		<div id="tabBasic" class="row">


			<div class="col-sm-9">


				<form class="" style="">


					<div class="form-group">
						<label for="apiid">Identifier</label>
						<input style="font-size: 150%" type="text" class="form-control " disabled="disabled" id="apiid" placeholder="Name of client application" value="{id}" >
					</div>

					<div class="form-group">
						<label for="apiname">Name</label>
						<input style="font-size: 150%" type="text" class="form-control" id="apiname" placeholder="Name of client application" value="{name}">
					</div>

					<div class="form-group">
						<label for="apidescr">Description</label>
						<textarea class="form-control" id="apidescr" rows="3">{descr}</textarea>
					</div>

					<div class="form-group">
						<label for="endpoint">API Endpoint</label>
						<p>This is the base URL endpoint of your API. The endpoints on your side that will receive all the requests.</p>
						
						<input type="text" class="form-control" id="endpoint" placeholder="https://example.org/api" value="{endpoints[0]}">

						<div class="endpointFormatDescr">
							<p>The format of the endpoint MUST be http or https, a valid hostname, an optional portnumber, but no path or trailing slash.</p>
							<p>In example:</p>
							<code>https://api.example.org</code>
						</div>

					</div>

					<p><button class="btn btn-success actSaveChanges" class="">
						<i class="glyphicon glyphicon-ok"></i> Save changes</button></p>

				</form>

				<p style="margin: 0px">
					<span style=" color: #555">Registered {createdAgo}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {createdH}</span>
					<span style="margin-left: 2em;  color: #555">Updated {updatedAgo}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {updatedH}</span>
				</p>



			</div>

			<div class="col-sm-3 ">
				
				<div class="imagezone" style="min-height: 128px; min-width: 128px">
					<img class="itemlogo"  src="http://api.dev.feideconnect.no:6543/apigkadm/apigks/{id}/logo" style="padding: 5px; border: 1px solid #ddd; border-radius: 4px; backgroud: #eee" />
				</div>

				<p>Drag a new square (1:1) PNG logo over the current one to replace it. <br /><span style="font-size: 90%">Minimum 128px</span></p>
			</div>

		</div>






		<div id="tabTrust">

			<div class="row" style="">

				<div class="col-sm-12">
					
					{#trust}
					<dl>
						<dt>Trust type</dt>
						<dd><code>{type}</code></dd>

						<dt>Username</dt>
						<dd><code>{username}</code></dd>

						<dt>Password</dt>
						
						<dd><code>{password}</code></dd>
						

					</dl>
					{/trust}


				</div>

			</div>

		</div>

		<div id="tabScopes"  style="" class="row">


			<div class="col-sm-12">

				<h3>Scopes</h3>

				<div id="scopedef"></div>
			</div>
		</div>




		<div id="tabRequests"  style="" class="row">


			<div class="col-sm-12">

				<h3>Clients requesting access</h3>




				{#clientsReq}

					<div class="panel panel-default authzClient" data-clientid="{id}">
						<div class="panel-body">



							<div class="media-left">
								<img style="max-width: 48px; max-height: 48px" class="media-object" src="http://api.dev.feideconnect.no:6543/clientadm/clients/{id}/logo" alt="client logo">
							</div>
							<div class="media-body">
								<h4 class="list-group-item-heading">{name}</h4>
								<p class="list-group-item-text" style="font-size: 80%">
									<i class="glyphicon glyphicon-chevron-right"></i> {id}
								</p>
								<p class="list-group-item-text">{descr}</p>

								<p class="list-group-item-text" style="margin-top: 15px">Redirect URIs
									<ul class="list-group-item-text" style="margin: 0px;">
										{#redirect_uri}
											<li style="margin:0px; padding: 0px"><code>{.}</code></li>
										{/redirect_uri}
									</ul>
								</p>
								<p class="list-group-item-text">Created {createdAgo}. Updated {updatedAgo}.</p>
								<p class="list-group-item-text">Client owner: {owner}</p>

								<p class="list-group-item-text" style="margin-top: 15px">Authorized scopes &nbsp;
								
									{#scopes}
										<code>{.}</code> &nbsp;
									{/scopes}
								</p>
							</div>





							<table style="font-size: 95%; margin-top: 2em" class="table table-striped">

								<thead>
									<tr>
										
										<td>Scope name</td>
										<td>Scope</td>
										<td>Policy</td>
										<td>Status</td>
										<td>Authorization</td>
									</tr>

								</thead>

								<tbody>
									<tr>
										<td>{sd.title}</td>
										<td style="font-size: 90%"><code>gk_{sd.apigkid}</code></td>

										<td>
											{#sd.policy.auto}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													Accept</span>
											{:else}
												<span class="label label-danger">
													<i class="fa fa-check-square-o"></i>&nbsp;
													Moderate</span>
											{/sd.policy.auto}
										</td>

										<td>

											{#sd.authz}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													Accepted</span>
											{:else}

												{#sd.req}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Requested</span>
												{/sd.req}

											{/sd.authz}

										</td>

										<td>

											{#sd.authz}
												<label>
													<input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox" checked="checked" />  Accepted
												</label>
											{:else}

												{#sd.req}
													<!-- <input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox"  />  -->

														<div class="radio">
															<label>
																<input type="radio" name="gk_{sd.apigkid}" value="reject" class="radioscopeauthz">
																<i class="fa fa-times"></i>&nbsp; Reject
															</label>
														</div>
														<div class="radio">
															<label>
																<input type="radio" name="gk_{sd.apigkid}" value="accept" class="radioscopeauthz">
																<i class="fa fa-check"></i>&nbsp; Accept
															</label>
														</div>


												{/sd.req}

											{/sd.authz}



										</td>
									</tr>




									{#sd.subscopes}

										<tr>
											<td>{title}</td>
											<td style="font-size: 90%"><code>gk_{sd.apigkid}_{scope}</code></td>

											<td>
												{?policy.auto}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														Accept</span>
												{:else}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Moderate</span>
												{/policy.auto}
											</td>
											<td>

												{?status.accepted}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														Accepted</span>
												{/status.accepted}

												{?status.requested}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Requested</span>
												{/status.requested}


											</td>
											<td>

												{?status.accepted}
													<label>
													<input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" checked="checked" /> Accepted</label>
												{/status.accepted}

												{?status.requested}
													<!-- <input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" />  -->


													<div class="radio">
														<label>
															<input type="radio" name="gk_{sd.apigkid}_{scope}"  value="reject" class="radioscopeauthz">
															<i class="fa fa-times"></i> Reject
														</label>
													</div>
													<div class="radio">
														<label>
															<input type="radio" name="gk_{sd.apigkid}_{scope}" value="accept" class="radioscopeauthz">
															<i class="fa fa-check"></i> Accept
														</label>
													</div>
												{/status.requested}







											</td>
										</tr>

									{:else}
										<tr><td colspan="5">No subscopes</td></tr>
									{/sd.subscopes}


								</thead>

							</table>

							<div class="pull-right">
								
							<button class="btn btn-primary btn-sm actUpdateAuthz">Update authorizations</button>

							</div>


						</div>
					</div>

				{/clientsReq}




			</div>
		</div>

		<div id="tabClients"  style="" class="row">


			<div class="col-sm-12">

				<h3>Authorized clients</h3>


				{#clients}

					<div class="panel panel-default authzClient" data-clientid="{id}">
						<div class="panel-body">



							<div class="media-left">
								<img style="max-width: 48px; max-height: 48px" class="media-object" src="http://api.dev.feideconnect.no:6543/clientadm/clients/{id}/logo" alt="client logo">
							</div>
							<div class="media-body">
								<h4 class="list-group-item-heading">{name}</h4>
								<p class="list-group-item-text" style="font-size: 80%">
									<i class="glyphicon glyphicon-chevron-right"></i> {id}
								</p>
								<p class="list-group-item-text">{descr}</p>

								<p class="list-group-item-text" style="margin-top: 15px">Redirect URIs
									<ul class="list-group-item-text" style="margin: 0px;">
										{#redirect_uri}
											<li style="margin:0px; padding: 0px"><code>{.}</code></li>
										{/redirect_uri}
									</ul>
								</p>
								<p class="list-group-item-text">Created {createdAgo}. Updated {updatedAgo}.</p>
								<p class="list-group-item-text">Client owner: {owner}</p>

								<p class="list-group-item-text" style="margin-top: 15px">Authorized scopes &nbsp;
								
									{#scopes}
										<code>{.}</code> &nbsp;
									{/scopes}
								</p>
							</div>





							<table style="font-size: 95%; margin-top: 2em" class="table table-striped">

								<thead>
									<tr>
										
										<td>Scope name</td>
										<td>Scope</td>
										<td>Policy</td>
										<td>Status</td>
										<td>Authorization</td>
									</tr>

								</thead>

								<tbody>
									<tr>
										<td>{sd.title}</td>
										<td style="font-size: 90%"><code>gk_{sd.apigkid}</code></td>

										<td>
											{#sd.policy.auto}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													Accept</span>
											{:else}
												<span class="label label-danger">
													<i class="fa fa-check-square-o"></i>&nbsp;
													Moderate</span>
											{/sd.policy.auto}
										</td>

										<td>

											{#sd.authz}
												<span class="label label-success">
													<i class="fa fa-check"></i>&nbsp;
													Accepted</span>
											{:else}

												{#sd.req}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Requested</span>
												{/sd.req}

											{/sd.authz}

										</td>

										<td>

											{#sd.authz}
												<input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox" checked="checked" /> 
											{:else}

												{#sd.req}
													<input class="authscope" data-scopemoderate="gk_{sd.apigkid}" type="checkbox"  /> 
												{/sd.req}

											{/sd.authz}



										</td>
									</tr>




									{#sd.subscopes}

										<tr>
											<td>{title}</td>
											<td style="font-size: 90%"><code>gk_{sd.apigkid}_{scope}</code></td>

											<td>
												{?policy.auto}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														Accept</span>
												{:else}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Moderate</span>
												{/policy.auto}
											</td>
											<td>

												{?status.accepted}
													<span class="label label-success">
														<i class="fa fa-check"></i>&nbsp;
														Accepted</span>
												{/status.accepted}

												{?status.requested}
													<span class="label label-danger">
														<i class="fa fa-check-square-o"></i>&nbsp;
														Requested</span>
												{/status.requested}


											</td>
											<td>

												{?status.accepted}
													<input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" checked="checked" /> 
												{/status.accepted}

												{?status.requested}
													<input class="authscope" type="checkbox" data-scopemoderate="gk_{sd.apigkid}_{scope}" /> 
												{/status.requested}


											</td>
										</tr>

									{:else}
										<tr><td colspan="5">No subscopes</td></tr>
									{/sd.subscopes}


								</thead>

							</table>

							<div class="pull-right">
								
							<button class="btn btn-primary btn-sm actUpdateAuthz">Update authorizations</button>

							</div>


						</div>
					</div>

				{/clients}



			</div>
		</div>


		<div id="tabStatistics"  style="" class="row">


			<div class="col-sm-12">

				<h3>Usage statistics</h3>

				<p></p>

			</div>
		</div>


		<div id="tabDelete"  style="" class="row">

			<div class="col-sm-12">

				<p>Are you really sure that you want to delete this API Gatekeeper?</p>

				<div><button class="btn btn-lg btn-danger actDelete">
					<i class="glyphicon glyphicon-warning-sign"></i> 
					Delete this API gatekeeper, I know what I am doing</button></div>


			</div>

		</div>




		</div>






	</div>


</div>


