<h1>{_.authproviders}</h1>
<p>{_.select_auth_providers}</p>


<p style="text-align: right"><button class="btn btn-success actSaveChanges" class="">
	<i class="glyphicon glyphicon-ok"></i> {_.savechanges}</button></p>


<div class="checkbox">
	<label>
		<input class="selectgroup" data-val="all" type="checkbox"> {_.accept_all_providers}
	</label>
</div>


<div class="">
	<h3>IDporten</h3>
	<div class="idportenlist">
		{#idporten}
		{>AuthProviderExtra/}
		{/idporten}
	</div>
</div>


<div class="pgroupall">
	

	<div class="row" style="margin-top: 2em">

		<div class="col-sm-6">
			<h3>Diverse autentiseringskilder</h3>
			<div>
				{#other}
				{>AuthProviderExtra/}
				{/other}
			</div>
		</div>

		<div class="col-sm-6">
			<h3>Sosiale nettverk</h3>

			<div class="checkbox">
				<label>
					<input class="selectgroup" data-val="social|all" type="checkbox"> {_.accept_all_social_networks}
				</label>
			</div>

			<div class="sociallist">
				{#social}
				{>AuthProviderExtra/}
				{/social}
			</div>

		</div>

	</div>



	<div class="row" style="margin-top: 2em">
		<div class="col-sm-12">

			<h3>Utdanningssektoren</h3>
			<div class="checkbox">
				<label>
					<input class="selectgroup" data-val="feide|all" checked="checked" type="checkbox"> Åpne for alle i utdanningssektoren
				</label>
			</div>
		</div>
	</div>
	


	<div class="row pgroupfeide" style="">

		<div class="col-sm-4">
			<h4>Grunnskolen</h4>

			<div class="checkbox">
				<label>
					<input class="selectgroup" data-val="feide|go" checked="checked" type="checkbox"> Åpne for alle i grunnskolen
				</label>
			</div>

			<div class="orglistgo">
				{#go}
				{>AuthProvider/}
				{/go}
			</div>


		</div>

		<div class="col-sm-4">
			<h4>Videregående</h4>

			<div class="checkbox">
				<label>
					<input class="selectgroup" data-val="feide|vgs" checked="checked"  type="checkbox"> Åpne for alle i videregående
				</label>
			</div>

			<div class="orglistvgs">
				{#vgs}
				{>AuthProvider/}
				{/vgs}
			</div>

		</div>

		<div class="col-sm-4">
			<h4>Høyere utdanning</h4>

			<div class="checkbox">
				<label>
					<input class="selectgroup" data-val="feide|he" checked="checked"  type="checkbox"> Åpne for alle i høyere utdanning
				</label>
			</div>

			<div class="orglisthe">
				{#he}
				{>AuthProvider/}
				{/he}
			</div>


		</div>

	</div>
	
</div>
