
<div class="row">
	<div class="col-sm-2">
			
		<ul class="nav nav-pills nav-stacked tabselector" style="text-align: right">
			<li role="presentation" data-tabid="tabOverview" class=""><a href="#">{_.overview}</a></li>
			<li role="presentation" data-tabid="tabBasic" class=""><a href="#">{_.basicinfo}</a></li>
			<li role="presentation" data-tabid="tabExtended" class=""><a href="#">{_.extendedinfo}</a></li>
			<li role="presentation" data-tabid="tabOAuth" class=""><a href="#">{_.oauthdetails}</a></li>
			<li role="presentation" data-tabid="tabAuthProviders" class=""><a href="#">{_.authproviders}</a></li>
			{?hasEnabledTestUsers}
				<li role="presentation" data-tabid="tabTestUsers" class=""><a href="#">{_.testusers}</a></li>
			{/hasEnabledTestUsers}
			<li role="presentation" data-tabid="tabScopes" class=""><a href="#">{_.permissions}</a></li>
			<li role="presentation" data-tabid="tabAPI" class=""><a href="#">{_.thirdpartyapis}</a></li>

			<li role="presentation" data-tabid="tabDelete" class=""><a href="#">{_.delete}</a></li>
		</ul>

	</div>


	<div class="col-sm-10 tabcontainer">





		<div id="tabOverview" class="row">


			<div class="col-sm-12">


				{#client}

					<img class="itemlogo pull-right" src="{@clientLogoURL id="{client.id}" /}" style="padding: 5px; border: 1px solid #ddd; border-radius: 4px; backgroud: #eee" />

				<h1>{name}</h1>
				<p>Client ID: <code>{id}</code></p>

				
				<p>{descr}</p>
				<p style="margin: 0px">Redirect URIs:</p>
				<ul style="margin-top: 0px; font-size: 85%">
					{#redirect_uri}
					<li><tt>{.}</tt></li>
					{/redirect_uri}
				</ul>

				{>timeinfo/}

				<div id="stats"></div>


				{/client}







			</div>

		</div>






		<div id="tabBasic" class="row">


			<div class="col-sm-9">


				{#client}
				<form class="" style="">


					<div class="form-group">
						<label for="name">{_.name}</label>
						<input style="font-size: 150%" type="text" class="form-control" id="name" placeholder="{_.name_of_client_application}" value="{name}">
					</div>

					<div class="form-group">
						<label for="descr">{_.descrendusers}</label>
						<textarea class="form-control" id="descr" rows="3">{descr}</textarea>
					</div>


					<div class="form-group">
						<label for="">Redirect URI</label>
						<p>{_.redirecturiinfo}</p>


						<div id="redirtemplate" style="display: none">
							<div class="input-group clearfix redircontainer" style="margin-top: 4px">
								<input type="text" class="form-control redirect_uri" placeholder="https://example.org/callback">
								<div class="input-group-btn">
									<button class="btn btn-default actRemoveRedirectURI"><i class="fa fa-times"></i></button>
								</div>
							</div>
						</div>
						<div id="rediroutercontainer">
							{#redirect_uri}
								<div class="input-group clearfix redircontainer" style="margin-top: 4px">
									<input type="text" class="form-control redirect_uri" placeholder="" value="{.}">
									<div class="input-group-btn">
										<button class="btn btn-default actRemoveRedirectURI"><i class="fa fa-times"></i></button>
									</div>
								</div>
							{:else}
								<div class="input-group clearfix redircontainer" style="margin-top: 4px">
									<input type="text" class="form-control redirect_uri" placeholder="https://example.org/callback">
									<div class="input-group-btn">
										<button class="btn btn-default actRemoveRedirectURI"><i class="fa fa-times"></i></button>
									</div>
								</div>
							{/redirect_uri}
						</div>

						<div class="clearfix"></div>
						<div class="pull-right" style="margin-top: 3px; margin-right: 4px">
							<button class="btn btn-default actAddRedirectURI"><i class="fa fa-plus"></i></button>
						</div>


					</div>


					<p><button class="btn btn-success actSaveChanges" class="">
						<i class="glyphicon glyphicon-ok"></i> {_.savechanges}</button></p>

				</form>

				<div class="bs-callout bs-callout-success">
					<h4><i class="fa fa-eye"></i> {_.regpublic}</h4>
					<p>{_.regpublicinfo}</p>
				</div>

				{>timeinfo/}

				{/client}

			</div>

			<div class="col-sm-3 ">
				
				<div class="imagezone">
					<img class="itemlogo" src="{@clientLogoURL id="{client.id}" /}" style="padding: 5px; border: 1px solid #ddd; border-radius: 4px; backgroud: #eee" />
				</div>

				<p>{_.drag_replace_png} <br /><span style="font-size: 90%">{_.minimum_128px}</span></p>
			</div>

		</div>




		<div id="tabExtended" class="row">


			<div class="col-sm-12">


				{#client}
				<form class="" style="">

					<div class="form-group">
						<label for="descr">{_.descrsys}</label>
						<textarea class="form-control" id="systemdescr" rows="5">{systemdescr}</textarea>

						<p>{_.descrsysdetails}</p>
					</div>


					<div class="form-group">
						<label for="privacypolicyurl">{_.privacypolicyurl}</label>
						<input class="form-control" id="privacypolicyurl" placeholder="http://" value="{privacypolicyurl}" />
					</div>

					<div class="form-group">
						<label for="homepageurl">{_.servicehomepage}</label>
						<input class="form-control" id="homepageurl" placeholder="http://" value="{homepageurl}" />
					</div>

					<div class="form-group">
						<label for="loginurl">{_.serviceloginurl}</label>
						<input class="form-control" id="loginurl" placeholder="http://" value="{loginurl}" />
					</div>

					<div class="form-group">
						<label for="supporturl">{_.endusersupport}</label>
						<input class="form-control" id="supporturl" placeholder="http://" value="{supporturl}" />
					</div>

					<p><button class="btn btn-success actSaveChanges" class="">
						<i class="glyphicon glyphicon-ok"></i> {_.savechanges}</button></p>

				</form>

				{>timeinfo/}

				{/client}

			</div>

		</div>






		<div id="tabOAuth">

			{#client}


			<div style="" class="row gutter">
				<div class="col-sm-12">

					<h1>{_.oauth20_and_oidc}</h1>

					<p>{_.client_configure_oauth2}</p>

					<p><a target="_blank" href="http://docs.dataporten.no/docs/authorization/">{_.seedocsformore}</a></p>

				</div>
			</div>



			<div class="row" style="">

				<div class="col-sm-6">
					<h3>{_.oauth_client_credentials}</h3>

					<dl>
						<dt>Client ID</dt>
						<dd><code>{id}</code></dd>

						<dt>Client Secret</dt>
						<dd><code>{client_secret}</code></dd>


						<dt>Redirect URI</dt>
						{#redirect_uri}
							<dd><code>{.}</code></dd>
						{/redirect_uri}

					</dl>

					<h3>{_.authorized_scopes}</h3>

					<p><code>
					{#scopes}
						{.} 
					{/scopes}
					</code></p>


				</div>

				<div class="col-sm-6">

					<h3>OAuth Provider</h3>

					<dl>
						<dt>{_.authorization_endpoint}</dt>
						<dd><code>{authorization_endpoint}</code></dd>

						<dt>{_.token_endpoint}</dt>
						<dd><code>{token_endpoint}</code></dd>
					</dl>

					<h3>OpenID Connect</h3>
					<p>
						{@blockTrans key="openid_connect_scope_info"}
						{:scope}
						<tt>openid</tt>
						{/blockTrans}
					</p>

					<dl>
						<dt>{_.openid_connect_auto_configuration}</dt>
						<dd><code>{openid_connect_configuration_endpoint}</code></dd>
					</dl>

				</div>

			</div>


			{/client}
			
		</div>

		<div id="tabAuthProviders">

			<div class="authproviders " style="clear: both">

			</div>

		</div>

		<div id="tabTestUsers" class="row">


			<div class="col-sm-12">

				<h1>{_.testusers}</h1>

				<p>{_.testusers_warning}</p>
				<p>{_.testuser_list_descr}</p>

				<table class="table table-striped">
					
					<thead>
						<tr>
							<th>{_.username}</th>
							<th>{_.password}</th>
							<th>{_.comment}</th>
						</tr>
					</thead>
					<tbody>
						<tr><td>asbjorn_elevg</td><td>1qaz</td><td></td></tr>
						<tr><td>bjorg_laererg</td><td>2wsx</td><td></td></tr>
						<tr><td>cecilie_elevvgs</td><td>3edc</td><td></td></tr>
						<tr><td>david_laerervgs</td><td>4rfv</td><td></td></tr>
						<tr><td>eva_student</td><td>5tgb</td><td></td></tr>
						<tr><td>frank_foreleser</td><td>6yhn</td><td></td></tr>

						<tr><td>ann_elevg</td><td>1qaz</td><td>E-postadresse ann.berntsen@test.feide.no</td></tr>
						<tr><td>alf_elevg</td><td>1qaz</td><td>Ingen E-postadresse</td></tr>
						<tr><td>jan_elevvgs</td><td>3edc</td><td></td></tr>
						<tr><td>anne_laerervgs</td><td>4rfv</td><td></td></tr>
						<tr><td>daniel_laerervgs</td><td>4rfv</td><td></td></tr>
					</tbody>

				</table>



			</div>

		</div>






		<div id="tabScopes"  style="" class="">



			<div class="row">
				<div class="col-sm-12">
					<p>{_.scopesinfo}</p>
					<p><a href="http://docs.dataporten.no/docs/oauth-scopes/" target="_blank">{_.seedocsformore}</a></p>
				</div>
			</div>

			{> scopelisting /}


		</div>


		<div id="tabAPI"  style="" class="row">


			<div class="col-sm-12">


				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist" id="apilisttabs" >
					<li role="presentation" class="active"><a href="#apilistaccepted" aria-controls="apilistaccepted" role="tab" data-toggle="tab">{_.accepted_apis}</a></li>
					<li role="presentation"><a href="#apilistrequested" aria-controls="apilistrequested" role="tab" data-toggle="tab">{_.requested_apis}</a></li>
					<li role="presentation"><a href="#apilistavailableown" aria-controls="apilistavailableown" role="tab" data-toggle="tab">{_.my_apis}</a></li>
					<li role="presentation"><a href="#apilistavailable" aria-controls="apilistavailable" role="tab" data-toggle="tab">{_.third_party_available_apis}</a></li>
				</ul>

				{> apilisting /}

			</div>




		</div>

		<div id="tabDelete"  style="" class="row">

			<div class="col-sm-12">

				<p>{_.del_client_question}</p>
				<p>{_.del_client_descr}</p>

				<div><button class="btn btn-lg btn-danger actDelete">
					<i class="glyphicon glyphicon-warning-sign"></i> 
					{_.del_client_button}</button></div>


			</div>

		</div>




		</div>



	</div>


</div>



