
<div class="row">
	<div class="col-sm-2">
			
		<ul class="nav nav-pills nav-stacked tabselector" style="text-align:right">
			<li role="presentation" data-tabid="tabBasic" class=""><a href="#">{_.basicinfo}</a></li>
			<li role="presentation" data-tabid="tabExtended" class=""><a href="#">{_.extendedinfo}</a></li>
			<li role="presentation" data-tabid="tabOAuth" class=""><a href="#">{_.oauthdetails}</a></li>
			<li role="presentation" data-tabid="tabAuthProviders" class=""><a href="#">{_.authproviders}</a></li>
			<li role="presentation" data-tabid="tabScopes" class=""><a href="#">{_.permissions}</a></li>
			<li role="presentation" data-tabid="tabAPI" class=""><a href="#">{_.thirdpartyapis}</a></li>

			<!-- <li role="presentation" data-tabid="tabStatistics" class=""><a href="#">Usage statistics</a></li> -->
			<li role="presentation" data-tabid="tabDelete" class=""><a href="#">{_.delete}</a></li>
		</ul>

	</div>


	<div class="col-sm-10 tabcontainer">




		<div id="tabBasic" class="row">


			<div class="col-sm-9">


				{#client}
				<form class="" style="">


					<div class="form-group">
						<label for="name">{_.name}</label>
						<input style="font-size: 150%" type="text" class="form-control" id="name" placeholder="Name of client application" value="{name}">
					</div>

					<div class="form-group">
						<label for="descr">{_.descrendusers}</label>
						<textarea class="form-control" id="descr" rows="3">{descr}</textarea>
					</div>


					<div class="form-group">
						<label for="">Redirect URI</label>
						<p>{_.redirecturiinfo}</p>


						<div id="redirtemplate" style="display: none">
							<div class="input-group clearfix redircontainer" style="margin-top: 4px">
								<input type="text" class="form-control redirect_uri" placeholder="https://example.org/callback">
								<div class="input-group-btn">
									<button class="btn btn-default actRemoveRedirectURI"><i class="fa fa-times"></i></button>
								</div>
							</div>
						</div>
						<div id="rediroutercontainer">
							{#redirect_uri}
								<div class="input-group clearfix redircontainer" style="margin-top: 4px">
									<input type="text" class="form-control redirect_uri" placeholder="" value="{.}">
									<div class="input-group-btn">
										<button class="btn btn-default actRemoveRedirectURI"><i class="fa fa-times"></i></button>
									</div>
								</div>
							{:else}
								<div class="input-group clearfix redircontainer" style="margin-top: 4px">
									<input type="text" class="form-control redirect_uri" placeholder="https://example.org/callback">
									<div class="input-group-btn">
										<button class="btn btn-default actRemoveRedirectURI"><i class="fa fa-times"></i></button>
									</div>
								</div>
							{/redirect_uri}
						</div>

						<div class="clearfix"></div>
						<div class="pull-right" style="margin-top: 3px; margin-right: 4px">
							<button class="btn btn-default actAddRedirectURI"><i class="fa fa-plus"></i></button>
						</div>


					</div>


					<p><button class="btn btn-success actSaveChanges" class="">
						<i class="glyphicon glyphicon-ok"></i> {_.savechanges}</button></p>

				</form>

				<div class="bs-callout bs-callout-success">
					<h4><i class="fa fa-eye"></i> {_.regpublic}</h4>
					<p>{_.regpublicinfo}</p>
				</div>


				<p style="margin: 0px">
					<span style=" color: #555">Registered {createdAgo}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {createdH}</span>
					<span style="margin-left: 2em;  color: #555">Updated {updatedAgo}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {updatedH}</span>
				</p>

				{/client}

			</div>

			<div class="col-sm-3 ">
				
				<div class="imagezone" style="min-height: 128px; min-width: 128px">
					<img class="itemlogo" src="{_config.apis.core}/clientadm/clients/{client.id}/logo" style="padding: 5px; border: 1px solid #ddd; border-radius: 4px; backgroud: #eee" />
				</div>

				<p>Drag a new square (1:1) PNG logo over the current one to replace it. <br /><span style="font-size: 90%">Minimum 128px</span></p>
			</div>

		</div>




		<div id="tabExtended" class="row">


			<div class="col-sm-12">


				{#client}
				<form class="" style="">

					<div class="form-group">
						<label for="descr">{_.descrsys}</label>
						<textarea class="form-control" id="systemdescr" rows="5">{systemdescr}</textarea>

						<p>{_.descrsysdetails}</p>
					</div>


					<div class="form-group">
						<label for="privacypolicyurl">{_.privacypolicyurl}</label>
						<input class="form-control" id="privacypolicyurl" placeholder="http://" value="{privacypolicyurl}" />
					</div>

					<div class="form-group">
						<label for="homepageurl">{_.servicehomepage}</label>
						<input class="form-control" id="homepageurl" placeholder="http://" value="{homepageurl}" />
					</div>

					<div class="form-group">
						<label for="loginurl">{_.serviceloginurl}</label>
						<input class="form-control" id="loginurl" placeholder="http://" value="{loginurl}" />
					</div>

					<div class="form-group">
						<label for="supporturl">{_.endusersupport}</label>
						<input class="form-control" id="supporturl" placeholder="http://" value="{supporturl}" />
					</div>

					<p><button class="btn btn-success actSaveChanges" class="">
						<i class="glyphicon glyphicon-ok"></i> {_.savechanges}</button></p>

				</form>

				<p style="margin: 0px">
					<span style=" color: #555">Registered {createdAgo}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {createdH}</span>
					<span style="margin-left: 2em;  color: #555">Updated {updatedAgo}</span> 
						<span style="color: #999"><i class="glyphicon glyphicon-time"></i> {updatedH}</span>
				</p>

				{/client}

			</div>

		</div>






		<div id="tabOAuth">

			{#client}


			<div style="" class="row gutter">
				<div class="col-sm-12">

					<h1>OAuth 2.0 and OpenID Connect</h1>

					<p>All APIs at Dataporten are protected with OAuth 2.0. The first thing you would need to configure in your client is the OAuth 2.0 flow to let your client obtain an OAuth token for the current user, and then your client may use this token to access the various APIs.</p>

					<p><a target="_blank" href="http://docs.dataporten.no/docs/authorization/">{_.seedocsformore}</a></p>

				</div>
			</div>



			<div class="row" style="">

				<div class="col-sm-6">
					<h3>OAuth Client credentials</h3>

					<dl>
						<dt>Client ID</dt>
						<dd><code>{id}</code></dd>

						<dt>Client Secret</dt>
						<dd><code>{client_secret}</code></dd>


						<dt>Redirect URI</dt>
						{#redirect_uri}
							<dd><code>{.}</code></dd>
						{/redirect_uri}

					</dl>

					<h3>Authorized Scopes</h3>

					<p><code>
					{#scopes}
						{.} 
					{/scopes}
					</code></p>


				</div>

				<div class="col-sm-6">

					<h3>OAuth Provider</h3>

					<dl>
						<dt>Authorization endpoint</dt>
						<dd><code>{_config.authorization}</code></dd>

						<dt>Token endpoint</dt>
						<dd><code>{_config.token}</code></dd>
					</dl>

					<h3>OpenID Connect</h3>

					<p>In order to use OpenID Connect, your client would need to have the <tt>openid</tt> scope authorized.</p>

					<dl>
						<dt>OpenID Connect Auto configuration</dt>
						<dd><code>{_config.apis.auth}/.well-known/openid-configuration</code></dd>
					</dl>

				</div>

			</div>


			{/client}
			
		</div>






		<div id="tabAuthProviders">



			<div class="authproviders " style="clear: both">

				<h1>Auth providers</h1>
				<p>Here you may select which authentication providers that are allowed to authenticate users to your application.</p>


				<!-- <pre class="debug"></pre> -->


				<p style="text-align: right"><button class="btn btn-success actSaveChanges" class="">
					<i class="glyphicon glyphicon-ok"></i> Save changes</button></p>


				<div class="checkbox">
					<label>
						<input class="selectgroup" data-val="all" type="checkbox"> Accept all providers (except IDporten)
					</label>
				</div>


				<div class="">
					<h3>IDporten</h3>
					<div class="idportenlist"></div>
				</div>


				<div class="pgroupall">
					

					<div class="row" style="margin-top: 2em">

						<div class="col-sm-6">
							<h3>Diverse autentiseringskilder</h3>
							<div class="otherlist"></div>
						</div>

						<div class="col-sm-6">
							<h3>Sosiale nettverk</h3>

							<div class="checkbox">
								<label>
									<input class="selectgroup" data-val="social|all" type="checkbox"> Accept all social networks
								</label>
							</div>

							<div class="sociallist"></div>

						</div>

					</div>



					<div class="row" style="margin-top: 2em">
						<div class="col-sm-12">

							<h3>Utdanningssektoren</h3>
							<div class="checkbox">
								<label>
									<input class="selectgroup" data-val="feide|all" checked="checked" type="checkbox"> Åpne for alle i utdanningssektoren
								</label>
							</div>
						</div>
					</div>
					


					<div class="row pgroupfeide" style="">

						<div class="col-sm-4">
							<h4>Grunnskolen</h4>

							<div class="checkbox">
								<label>
									<input class="selectgroup" data-val="feide|go" checked="checked" type="checkbox"> Åpne for alle i grunnskolen
								</label>
							</div>

							<div class="orglistgo"></div>


						</div>

						<div class="col-sm-4">
							<h4>Videregående</h4>

							<div class="checkbox">
								<label>
									<input class="selectgroup" data-val="feide|vgs" checked="checked"  type="checkbox"> Åpne for alle i videregående
								</label>
							</div>

							<div class="orglistvgs"></div>

						</div>

						<div class="col-sm-4">
							<h4>Høyere utdanning</h4>

							<div class="checkbox">
								<label>
									<input class="selectgroup" data-val="feide|he" checked="checked"  type="checkbox"> Åpne for alle i høyere utdanning
								</label>
							</div>

							<div class="orglisthe"></div>


						</div>


					</div>






					
				</div>



			</div>







		</div>








		<div id="tabScopes"  style="" class="">



			<div class="row">
				<div class="col-sm-12">
					<p>{_.scopesinfo}</p>
					<p><a href="http://docs.dataporten.no/docs/oauth-scopes/" target="_blank">{_.seedocsformore}</a></p>
				</div>
			</div>

			<div class="row">

				<div class="col-sm-6">

					<h3>Accepted scopes</h3>

					<div class="list-group">
						{#scopelist.accepted}
							<div class="list-group-item scopeEntry {^policy.auto}optConfirm{/policy.auto}" data-scopeid="{scope}">
								<div class="pull-right"><code class="">{scope}</code></div>
								<h4 class="list-group-item-heading">{title}</h4>
								<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>

								<div class="">
									<p class="pull-right">
									{^policy.auto}
											<span class="label label-default">
												<i class="fa fa-check" aria-hidden="true"></i> Moderated</span>
									{/policy.auto}
									{^public}
											<span class="label label-default">
												<i class="fa fa-eye-slash" aria-hidden="true"></i> Hidden</span>
									{/public}
									</p>
									
										<button class="btn btn-xs btn-danger actScopeRemove">
											<i class="glyphicon glyphicon-remove"></i>
											Remove scope 
											</button>
								</div>
								<p class="clearfix"></p>
							</div>
						{:else}
							<p>No available scopes</p>
						{/scopelist.accepted}
						
					</div>


					<h3 style="margin-top: 1.5em">Requested scopes</h3>

					<div class="list-group">
						{#scopelist.requested}
							<div class="list-group-item scopeEntry" data-scopeid="{scope}">
								<div class="pull-right"><code class="">{scope}</code></div>
								<h4 class="list-group-item-heading">{title}</h4>
								<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>

								<div class="" style="margin-top: .3em; margin-bottom: 0px">
									<button class="btn btn-xs btn-default actScopeRemove">
										<i class="glyphicon glyphicon-remove"></i>
										Remove scope 
										</button>
								</div>
								<p style=" padding: 0px; margin: 0px" class="clearfix"></p>
							</div>
						{:else}
							<p>No requested scopes</p>
						{/scopelist.requested}
					</div>

				</div>



				<div class="col-sm-6">

					<h3>Available scopes</h3>


					<div class="list-group">
						{#scopelist.available}
							<div class="list-group-item scopeEntry" data-scopeid="{scope}">
								<div class="pull-right"><code class="">{scope}</code></div>
								<h4 class="list-group-item-heading">{title}</h4>
								<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>


								<p class="pull-right">
								{^policy.auto}
										<span class="label label-default">
											<i class="fa fa-exclamation" aria-hidden="true"></i> Moderated</span>
								{/policy.auto}
								{^public}
										<span class="label label-default">
											<i class="fa fa-eye-slash" aria-hidden="true"></i> Hidden</span>
								{/public}
								</p>
								<p style="margin-top: .3em; margin-bottom: 0px">
									{?policy.auto}
										<button class="btn btn-sm btn-primary actScopeAdd">
											<i class="glyphicon glyphicon-chevron-left"></i>
											Add scope</button>
									{/policy.auto}
									{^policy.auto}
										<button class="btn btn-sm btn-warning actScopeAdd">
											<i class="glyphicon glyphicon-chevron-left"></i>
											Request scope</button>
									{/policy.auto}

								</p>
								<p style=" padding: 0px; margin: 0px" class="clearfix"></p>

							</div>
						{:else}
							<p>No available scopes</p>
						{/scopelist.available}
					</div>

				</div>
			</div>



		</div>


		<div id="tabAPI"  style="" class="row">


			<div class="col-sm-12">


				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist" id="apilisttabs" >
					<li role="presentation" class="active"><a href="#apilistaccepted" aria-controls="apilistaccepted" role="tab" data-toggle="tab">Accepted APIs</a></li>
					<li role="presentation"><a href="#apilistrequested" aria-controls="apilistrequested" role="tab" data-toggle="tab">Requested APIs</a></li>
					<li role="presentation"><a href="#apilistavailableown" aria-controls="apilistavailableown" role="tab" data-toggle="tab">My APIs</a></li>
					<li role="presentation"><a href="#apilistavailable" aria-controls="apilistavailable" role="tab" data-toggle="tab">3rd party available APIs</a></li>
				</ul>

				{> apilisting /}

			</div>




		</div>






		<div id="tabStatistics"  style="" class="row">


			<div class="col-sm-12">

				<h3>Usage statistics</h3>

				<p></p>

			</div>
		</div>





		<div id="tabDelete"  style="" class="row">

			<div class="col-sm-12">

				<p>Are you really sure that you want to delete this client?</p>
				<p>You will not be able to recreate a client with the same identifier, and all issued tokens and authorizations will be reset.</p>

				<div><button class="btn btn-lg btn-danger actDelete">
					<i class="glyphicon glyphicon-warning-sign"></i> 
					Delete this client, I know what I am doing</button></div>


			</div>

		</div>




		</div>



	</div>


</div>



