<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
		<a class="navbar-brand" href="#"><img src="bower_components/uninett-theme/images/UNINETT_logo.svg" alt="Uninett logo" type="image/svg+xml"></a>
		
	</div>
	<div class="navbar-department">
		<div class="department">{_.devdash}</div>
	</div>


	<ul class="nav navbar-nav">


		<li><a href="http://feideconnect.no/docs/gettingstarted/">{_.documentation}</a></li>


		<li class="pull-right showOnLoggedOut">
			<a href="#" id="" class="btn-sm btn btn-default login">{_.login}</a>
		</li>

		<li class="dropdown pull-right showOnLoggedIn" style="display: none">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-right: 0px">
				<b class="caret"></b>
				<span id="username"></span>
				<span id="profilephoto"></span>
			</a>

			<ul class="dropdown-menu">
				<li><a href="https://min.feideconnect.no"><i class="fa fa-user fa-fw"></i> {_.myfc}</a></li>
				<li><a href="https://groups.feideconnect.no"><i class="fa fa-group fa-fw"></i> {_.mygroups}</a></li>
				<li class="active"><a href="#"><i class="fa fa-cog fa-fw"></i> {_.devdash}</a></li>
				<li class="divider"></li>
				<li><a id="logout" href="#"><i class="fa fa-sign-out fa-fw"></i> {_.logout}</a></li>
			</ul>

		</li>
	</ul>


</div>