
<div class="row pane gutter" style="margin-bottom: 4em">
	
	<div class="col-md-6">
		
		{?createAllowed}
		<div class="pull-right">
			<button id="registerNewClient" class="btn registerNewClient">
				<i class="fa fa-edit"></i>&nbsp;
				{_.clientsnew}
			</button>
		</div>
		{/createAllowed}

		<h3>{_.clients}</h3>

		<div style="margin-top: 2em" class="clearfix">
			
			<div id="listingClients" class="list-group">
			</div>
			
				
				
		</div>


	</div>
	<div class="col-md-6">
		
		{?createAllowed}
		<div style="" class="pull-right">
			<button id="registerNewAPIGK" class="btn registerNewAPIGK">
				<i class="fa fa-edit"></i>&nbsp;
				{_.apigksnew}
			</button>
		</div>
		{/createAllowed}

		<h3>{_.apigks}</h3>

		<div class="clearfix" style="margin-top: 2em">
			
			<div id="listingAPIGKs" class="list-group">
			</div>
			
		</div>
		
	</div>

</div>
