{#apigks}
	<a href="#" data-apigkid="{id}" class="list-group-item media apigkEntry">
		<div class="media-left">
			<img style="max-width: 48px; max-height: 48px" class="media-object" src="{_config.apis.core}/apigkadm/apigks/{id}/logo?t={random}" alt="...">
		</div>
		<div class="media-body">
			<p class="pull-right" style="color: #666; font-size: 82%">Updated {updatedAgo}</p>

			<h4 class="list-group-item-heading">{name}</h4>
			<p class="list-group-item-text" style="font-size: 80%" ><i class="glyphicon glyphicon-chevron-right"></i> {id}</p>
			<p class="list-group-item-text">{descr}</p>
		</div>
	</a>
{:else}
	<p>No API Gatekeepers are currently registered.</p>
{/apigks}