


<div class="gutter">
	{?personal}
		<div id="banner" class="row ">
			<div class="col-lg-12"> 
				<!-- Main component for a primary marketing message or call to action -->
				<div class="jumbotron uninett-color-darkBlue uninett-pattern1">
					<h1>{_.devdash} </h1>
					<p class="uninett-fontColor-white">
						
					</p >
					<p class="uninett-fontColor-white">
						{_.registerinfo}.</p>

					<div class="showOnLoggedOut"><button id="" class="btn btn-primary login">Login</button></div>
				</div>
			</div>
		</div>
		<div class="gutter bs-callout bs-callout-danger">
			<h4>{_.personalaccts}</h4>
			<p>{_.personalacctsinfo}</p>
		</div>
	{/personal}
</div>


{?simpleOrgAdminStatus}
<div class="row gutter pane" id="listing">
	<div class="simpleOrgAdminStatus" class="col-lg-12 " style="background: #eee;  padding: 1em"> 
	</div>
</div>
{/simpleOrgAdminStatus}

{?simpleOrgAdminAPI}
<div class="row gutter pane" id="listing">
	<div class="simpleOrgAdminView" class="col-lg-12 " style="background: #eee; padding: 1em"> 
	</div>
</div>
{/simpleOrgAdminAPI}

{?orgAdminStatus}
<div class="row gutter pane" id="listing">
	<div class="simpleOrgAdminAPI" class="col-lg-12 " style="background: #eee; padding: 1em"> 
</div>
{/orgAdminStatus}


<div class="row pane gutter" id="listing" style=" margin-bottom: 4em">
	
	<div class="col-md-6">
		

		<div  class="pull-right">
			<button id="registerNewClient" class="btn registerNewClient">
				<i class="fa fa-edit"></i>&nbsp;
				{_.clientsnew}</button></div>

		<h3 >{_.clients}</h3>

		<div style="margin-top: 2em" class="clearfix">
			
			<div id="listingClients"  class="list-group">
			</div>
			
				
				
		</div>


	</div>
	<div class="col-md-6">
		
		<div style="" class="pull-right">
			<button id="registerNewAPIGK" class="btn registerNewAPIGK">
				<i class="fa fa-edit"></i>&nbsp;
				{_.apigksnew}</button></div>

		<h3>{_.apigks}</h3>

		<div class="clearfix" style="margin-top: 2em">
			
			<div  id="listingAPIGKs"  class="list-group">
			</div>
			
		</div>
		
	</div>

</div>