{#clients}
	<a href="#" data-clientid="{id}" class="list-group-item media clientEntry">
		<div class="media-left">
			<img class="media-object logo" src="{@clientLogoURL id="{id}" /}?t={random}" alt="{_.logo_of_client}">
		</div>
		<div class="media-body">
			<p class="pull-right text-muted" style="font-size: 82%">{_.updated} {@formatRelative val=updated/}</p>
			<h4 class="list-group-item-heading">{name}</h4>
			<p class="list-group-item-text" style="font-size: 80%" ><i class="glyphicon glyphicon-chevron-right"></i> {id}</p>
			<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>
		</div>
	</a>
{:else}
	<p>{_.noclients}</p>
{/clients}

