{#apigks}
	<a href="#" data-apigkid="{id}" class="list-group-item media apigkEntry">
		<div class="media-left">
			<img style="max-width: 48px; max-height: 48px" class="media-object" src="{_config.apis.core}/apigkadm/apigks/{id}/logo?t={random}" alt="...">
		</div>
		<div class="media-body">

			{#hasClientRequests}
				<span style="margin-left: .7em" class="label label-danger queuecount pull-right">{clientRequests} pending requests</span>
			{/hasClientRequests}

			<p class="pull-right" style="clear: right; color: #666; font-size: 82%">{_.updated} {@formatRelative val=updated/}</p>

			<h4 class="list-group-item-heading">{name} 

			</h4>
			<p class="list-group-item-text" style="font-size: 80%" ><i class="glyphicon glyphicon-chevron-right"></i> {id}</p>
			<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>
		</div>
	</a>
{:else}
	<p>{_.noapigks}</p>
{/apigks}
