<div class="modal fade" id="clientCreateModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{_.clientsnew}</h4>
			</div>
			<div class="modal-body">

				<p>{_.createclientintro}</p>

				<form class="registerform" role="form">  

					<p>{_.createclientname}</p>

					<div class="form-group">
						<label for="newClientName">{_.name}</label>
						<input id="newClientName" type="text" class="form-control input" placeholder="{_.shortname}">
					</div>

					<div class="form-group">
						<label for="newClientDescr">{_.descr}</label>
						<textarea class="form-control" id="newClientDescr" placeholder="{_.longdescr}"></textarea>
					</div>


					<div class="form-group">
						<label for="newClientRedirectURI">OAuth 2.0 Redirect URL</label>
						<p>{_.redirecturiinfo}</p>
						<input style="" id="newClientRedirectURI" type="text" class="form-control input" placeholder="http://yourservice.org/callback">
						<p><a target="_blank" href="http://docs.dataporten.no/docs/authorization/">{_.seedocsformore}</a></p>
					</div>

				</form>

				{#orgInfo}
					<div class="media">
						<div class="media-left">
						<a href="#">
							<img class="media-object" style="max-height: 64px; max-width: 64px" src="{logoURL}" alt="Organiazation Logo">
						</a>
						</div>
						<div class="media-body">
							<h4 style="margin: 0px">{displayName}</h4>
							<p>{_.clientorg}</p>
						</div>
					</div>
				{/orgInfo}


				</div>
					<div class="modal-footer">
						<a href="#" class="btn" data-dismiss="modal">{_.cancel}</a>
						<a href="#" class="createNewBtn btn btn-primary">{_.clientsnew}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
