
<div style="margin-top: 1em">
	

	<h1>{_.organization}</h1>

	<p>{_.associatewithorg}</p>

	<div class="row">
		
		<div class="col-md-4">
			
			<div class="panel panel-default">
				<div class="panel-body">

					<i class="fa fa-chevron-right fa-2x pull-right"></i>

					<div class="media">
						<div class="media-left">
							<img style="max-height: 64px; max-width: 64px" class="img-thumbnail" src="{@profilePhotoURL userid="{userinfo.profilephoto}" /}">
						</div>
						<div class="media-body">
							<p>{userinfo.name}</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-md-3">
			
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<i class="fa fa-chevron-right fa-2x pull-right"></i>

				requests the role <br />
				<strong>developer</strong><br />
				at the following organization

			  </div>
			</div>

		</div>

		<div class="col-md-5">
					
			<form class="registerform" role="form">  

				<div class="form-group">
					<select id="newselectorg">
						<option value="">{_.select_org_or_create}</option>
						{#orgs}
							<option value="{id}">{name}</option>
						{/orgs}				
					</select>

				</div>

				<div style="display: none" id="neworgregister">

					<div class="form-group">
						<p>{_.new_org_dropdown_check_info}</p>

						<p>
							{@blockTrans key="new_org_request_info"}
								{:email}<tt>kontakt@uninett.no</tt>
							{/blockTrans}
						</p>
					</div>

				</div>
				<div id="orgresult">
					
				</div>


			</form>


		</div>



	</div>





</div>

