

<div>
	<h1 style="margin-bottom: .4em; ">
		{_.managemandatory}
	</h1>

	<p>Nye tjenester i Dataporten faller automatisk i kateogien for privat bruk og blir tilgjengelig for brukerene basert på samtykke.</p>
	<p>Du som administrator for din utdanningsinstitusjon kan her velge å bekrefte tjenester som virksomhetsstyrt. Da vil ikke brukeren måtte bekrefte samtykke til bruk av tjenesten.</p>

	<ul>
		<li><a href="https://www.uninett.no/tjenester/dataporten/personvern-og-informasjonssikkerhet-vertsorganisasjoner">Les mer om personvern og informasjonssikkerhet for vertsorganisasjoner</a></li>
		<li><a href="https://www.uninett.no/vertsorganisasjonens-roller-og-plikter">Les mer om vertsorganisasjonens roller og plikter</a></li>
		<li><a href="https://www.uninett.no/tjenester/dataporten/personvern-og-informasjonssikkerhet-sluttbrukere">Les mer om personvern og informasjonssikkerhet for sluttbrukere</a></li>
	</ul>

</div>


<div class="listingMandClients list-group" style="margin-top: 1em">

{#clients}
	<div href="#" data-clientid="{id}" class="list-group-item media clientEntry">
		<div class="media-left">
			<img style="max-width: 48px; max-height: 48px" class="media-object" src="{@clientLogoURL id="{id}" /}?t={random}" alt="{_.logo_of_client}">
		</div>
		<div class="media-body">

		
		<div class="row" style="width: 100%">
			
			<div class="col-md-4">

				<h4 class="list-group-item-heading">{name}</h4>
				<p class="list-group-item-text" style="font-size: 80%" ><i class="glyphicon glyphicon-chevron-right"></i> {id}</p>
				<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>

			</div>
			<div class="col-md-2" style="text-align: center">


				{?mandatory}
					<span class="label label-success">{_.mandatory}</span>
				{:else}
					<span class="label label-default">{_.privateuse}</span>
				{/mandatory}


			</div>
			<div class="col-md-3">
				{>trustinline/}


			</div>
			<div class="col-md-3" style="text-align: right">



				{?mandatory}
					<button class="btn btn-sm btn-warning actRemoveMandatory" style="margin-left: 2em"><i class="fa fa-times"></i> {_.removeMandatory}</button>
				{:else}
					<button class="btn btn-sm btn-success actSetMandatory" style="margin-left: 2em"><i class="fa fa-check"></i> {_.setMandatory}</button>
				{/mandatory}

			</div>


		</div>
		</div>
			


	</div>
{:else}
	<p>{_.noclients}</p>
{/clients}
</div>


