




<div style="margin-top: 1em">

	<h1>
		{_.accessdatasources}
	</h1>

	<p>{_.orgadmin_apigk_request_descr}</p>	


</div>


<div style="text-align: right">
	<button class="btn btn-primary btn-lg actSaveChanges">{_.savechanges}</button>
</div>


<div class="listingMandAPIAuthz list-group" style="margin-top: 1em">

{#clients}
	<div  class="list-group-item media clientEntry">


		{#client}

			<div class="row">				
				<div class="col-md-7">

					<div class="media-left">
						<img style="max-width: 48px; max-height: 48px" class="media-object" src="{@clientLogoURL id="{id}" /}" alt="{_.logo_of_client}">
					</div>
					<div class="media-body">

						<h4 class="list-group-item-heading">{name}</h4>
						<p class="list-group-item-text" style="font-size: 80%" ><i class="glyphicon glyphicon-chevron-right"></i> {id}</p>
						<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>

					</div>

				</div>

				<div class="col-md-5">
					{>trustinline/}
				</div>


			</div>


		{/client}

		{#apis}
			<div class="row" style="margin-top: 10px">
				<div class="col-md-6 col-md-offset-1">


					<div class="media">
						<div class="media-left">
							<img style="max-width: 48px; max-height: 48px" class="media-object" src="{@apigkLogoURL id="{id}" /}" alt="{_.logo_of_3rd_party_api}">
						</div>
						<div class="media-body">

							<h4 class="list-group-item-heading">{name}</h4>
							<p class="list-group-item-text">{descr|s|h|acceptnewline}</p>

						</div>
					</div>
				</div>

				<div class="col-md-5">
					{>trustinline/}
				</div>

			</div>

			{#scopeauths}
				<div class="row" style="border-top: 1px solid #eee">
					<div class="col-md-6 col-md-offset-2">
						<h4>{scope.title}</h4>
						<p>{scope.descr}</p>
					</div>
					<div class="col-md-2">
						<p>
							{?authorized}
								<span class="label label-success">{_.accepted}</span>
							{:else}
								<span class="label label-danger">{_.not_accepted}</span>
							{/authorized}
						</p>
					</div>
					<div class="col-md-2 ">
						<div class="checkbox" style="margin:0px; padding:0px">
						<label>
							<input type="checkbox" class="scopeauthentry" data-clientid="{client.id}" data-scopeid="{scope.id}" {?authorized}checked="checked"{/authorized}> {_.accept}
						</label>
						</div>
					</div>
				</div>
				<p>{scope.scope}</p>
			{/scopeauths}


		{/apis}



	</div>



	
{:else}
	<p>{_.noclients}</p> <!-- TODO copy paste wrong string? -->
{/clients}
</div>


<pre style="font-size: 85%" id="xdebug"></pre>

