<div class="panel panel-default">
	<div class="panel-body">


		<div class="media">
			<div class="media-left">
				<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{_config.apis.core}/orgs/{org.id}/logo">
			</div>
			<div class="media-body">
				<h4 style="margin: 0px">{org.name}</h4>
				<p>{org.id} – {org.realm} – {org.organization_number}</p>
				<!-- <p>{userinfo.userid}</p> -->
			</div>
		</div>
	</div>
</div>

<div>
	<p>
		Since your organization is already registrered as a service provider to Feide, you may contact your local admin to add you as an administrator to get permission to submit new applications and API in dataporten.	
	</p>
	<p>Contact <tt>kontakt@uninett.no</tt> if you need to get the names of the existing adminstrators in your organization.</p>
	<p>Adding new administrators can be done using the Feide kundeportal.</p>
</div>