<div class="panel panel-default">
	<div class="panel-body">


		<div class="media">
			<div class="media-left">
				<img style="max-height: 48px; max-width: 48px" class="img-thumbnail" src="{@orgLogoURL id="{org.id}" /}">
			</div>
			<div class="media-body">
				<h4 style="margin: 0px">{org.name}</h4>
				<p>{org.id} – {org.realm} – {org.organization_number}</p>
			</div>
		</div>
	</div>
</div>

<div>
	<p>
		{_.already_feideorg_info}	
	</p>
	<p>Contact <tt>kontakt@uninett.no</tt> if you need to get the names of the existing adminstrators in your organization.</p>
	<p>{_.admins_in_feide_kp_info}</p>
</div>
