<div class="gutter">
	<div id="banner" class="row ">
		<div class="col-lg-12"> 
			<!-- Main component for a primary marketing message or call to action -->
			<div class="jumbotron uninett-color-darkBlue uninett-pattern1">
				<h1>{_.devdash} </h1>
				<p class="uninett-fontColor-white">

				</p >
				<p class="uninett-fontColor-white">
					{_.registerinfo}.
				</p>

				<div class="showOnLoggedOut"><button id="" class="btn btn-primary login">Login</button></div>
			</div>
		</div>
	</div>
	<div class="gutter bs-callout bs-callout-danger">
		<h4>{_.personalaccts}</h4>
		<p>{_.personalacctsinfo}</p>
	</div>
</div>
    
<div class="mainlisting"/>
