<div class="gutter">
	
	<div class="media">
		<div class="media-left">
			<i class="fa fa-asterisk fa-4x pull-left uninett-font-green"></i>
		</div>

		<div class="media-body">
			<h4 class="media-heading">Platform administrasjon</h4>
			<p>Kun for platform-adminitratorer av Dataporten. Vær varsom med hva du gjør.</p>
		</div>

	</div>

	<div>

		<!-- Nav tabs -->
		<ul id="patabs" class="nav nav-tabs" role="tablist">
			<li role="presentation" class="{activeTabClass.clients}">
				<a href="#clients" aria-controls="clients" role="tab" data-toggle="tab">{_.clients} <span class="badge">{counts.clients}</span></a></li>
			<li role="presentation" class="{activeTabClass.apigks}">
				<a href="#apigks" aria-controls="apigks" role="tab" data-toggle="tab">{_.apigks} <span class="badge">{counts.apigks}</span></a></li>
			<li role="presentation" class="{activeTabClass.organizationsh}">
				<a href="#organizationsh" aria-controls="organizationsh" role="tab" data-toggle="tab">{_.organizations} <span class="badge">{counts.orgs}</span></a></li>
			<li role="presentation" class="{activeTabClass.organizationss}">
				<a href="#organizationss" aria-controls="organizationss" role="tab" data-toggle="tab">{_.service_providers} <span class="badge">{counts.sps}</span></a></li>
			<li role="presentation" class="{activeTabClass.statistics}">
				<a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">{_.statistics}</span></a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">


			<div role="tabpanel" class="tab-pane {activeTabClass.clients}" id="clients">


				<div style="margin-top: 1em">
					<form class="" role="search">
						<div class="form-group">
							<input type="text" class="form-control isearch" placeholder="{_.search}">
						</div>
					</form>
				</div>

				{> pclients /}
			</div>

			<div role="tabpanel" class="tab-pane {activeTabClass.apigks}" id="apigks">
				<div style="margin-top: 1em">
					<form class="" role="search">
						<div class="form-group">
							<input type="text" class="form-control isearch" placeholder="{_.search}">
						</div>
					</form>
				</div>

				{> papis /}
			</div>

			
			<div role="tabpanel" class="tab-pane {activeTabClass.organizationsh}" id="organizationsh">
				<div style="margin-top: 1em">
					<form class="" role="search">
						<div class="form-group">
							<input type="text" class="form-control isearch" placeholder="{_.search}">
						</div>
					</form>
				</div>

				{#orgs.home}
				{> porgs /}
				{/orgs.home}
			</div>
			
			<div role="tabpanel" class="tab-pane {activeTabClass.organizationss}" id="organizationss">
				<div style="margin-top: 1em">
					<form class="" role="search">
						<div class="form-group">
							<input type="text" class="form-control isearch" placeholder="{_.search}">
						</div>
					</form>
				</div>

				{#orgs.services}
				{> porgs /}
				{/orgs.services}
			</div>

			<div role="tabpanel" class="tab-pane {activeTabClass.statistics}" id="statistics">
			    {> pstatistics /}
			</div>

		</div>

	</div>

</div>

