<div class="row">
	<div class="col-sm-5">
			
		<p>
			{_.scopes_usage_info} 
		</p>


		<p>
			<button class="btn btn-primary pull-right actScopesSaveChanges"><i class="fa fa-check"></i>&nbsp;{_.savechanges}</button>
		</p>


		<p class="clearfix"></p>

		<h3 style="margin-top: 2em" >{_.current_scope_definitions}</h3>

		<table style="font-size: 85%" class="table table-striped">

			<thead>
				<tr>
					<th>{_.title}</th>
					<th>{_.scope}</th>
					<th>{_.api_owner_policy}</th>
					<th>{_.org_policy}</th>
				</tr>

			</thead>
			<tbody>

				<tr>
					<td>{existing.scopedef.title}</td>
					<td style="font-size: 90%"><code>gk_{existing.id}</code></td>

					<td>
						{#existing}{>ScopeDefPolicyInfo/}{/existing}
					</td>
					<td>
						{#existing.scopedef.policy.orgadmin.moderate}
							<span class="label label-danger">
								<i class="fa fa-check-square-o"></i>&nbsp;
								{_.moderate}</span>
						{:else}
							<span class="label label-success">
								<i class="fa fa-check"></i>&nbsp;
								{_.accept}</span>
						{/existing.scopedef.policy.orgadmin.moderate}
					</td>
				</tr>

				{#existing.scopedef.subscopes}

					<tr>
						<td>{title}</td>
						<td style="font-size: 90%"><code>gk_{existing.id}_{scope}</code></td>

						<td>{>ScopeDefPolicyInfo/}</td>
						<td>
							{#policy.orgadmin.moderate}
								<span class="label label-danger">
									<i class="fa fa-check-square-o"></i>&nbsp;
									{_.moderate}</span>
							{:else}
								<span class="label label-success">
									<i class="fa fa-check"></i>&nbsp;
									{_.accept}</span>

							{/policy.orgadmin.moderate}
						</td>
					</tr>

				{:else}
					<tr><td colspan="4">{_.no_subscopes}</td></tr>
				{/existing.scopedef.subscopes}


			</thead>

		</table>




		<pre id="out"></pre>



	</div>

	<div class="col-sm-7">
			





		<div class="panel panel-primary sectBasicScope">
			<div class="panel-heading">
				<h3 class="panel-title">{_.primary_scope}</h3>
			</div>
			<div class="panel-body">

				<form class="form-horizontal">

					<p>{_.primary_scope_info}</p>

					<div class="form-group">
						<label for="basicTitle" class="col-sm-3 control-label">{_.name}</label>
						<div class="col-sm-9">
							<input style="" id="basicTitle" type="text" class="form-control input" placeholder="{_.name_of_basic_access}" value="{updated.scopedef.title}" />	
						</div>
					</div>

					<div class="form-group">
						<label for="basicDescr"  class="col-sm-3 control-label">{_.descr}</label>
						<div class="col-sm-9">
							<textarea style="" class="form-control" id="basicDescr" placeholder="{_.basic_access_descr}">{updated.scopedef.descr}</textarea>
						</div>
					</div>

					<div class="form-group">
						<label for="basicPolicy" class="col-sm-3 control-label">{_.api_owner_accept_policy} </label>

						<div class="checkbox col-sm-9">
							<label><input id="basicPolicy" type="checkbox"
									{#updated.scopedef.policy.auto}
										checked="checked"
									{/updated.scopedef.policy.auto}
								> {_.auto_accept}</label>

							<p style="font-size: 90%">{_.auto_accept_info}</p>
						</div>

					</div>

					<div class="form-group">
						<label for="basicOrgAdminPolicy" class="col-sm-3 control-label">{_.organization_accept_policy} </label>

						<div class="checkbox col-sm-9">

							<label><input id="basicOrgAdminPolicy" type="checkbox"
									{^updated.scopedef.policy.orgadmin.moderate}
										checked="checked"
									{/updated.scopedef.policy.orgadmin.moderate}
								> {_.auto_accept}</label>

							<div class="orgadmintarget" style="margin: 10px 14px 14px 14px"><p>{_.target_orgs} </p>
								<p><button class="btn btn-xs btn-warning actorgadmintarget"><i class="fa fa-list-ul"></i> {_.select_dots}</button>
									{@blockTrans key="num_selected"}
									{:num}
									<span class="shortorglist"  style="font-weight: bold; margin-left: 2em">0</span>
									{/blockTrans}
								</p>
							</div>

							<p style="font-size: 90%">{_.orgadmin_policy_info}</p>
						</div>

					</div>

				</form>
			</div>

		</div>



		{#updated.scopedef.subscopes}


			<div class="panel panel-default subScopeEntry">

				<div class="panel-body">

					<form class="form-horizontal">

						<div class="form-group">
							<label for="newAPIid"  class="col-sm-3 control-label">{_.identifier}</label>
							<div class="col-sm-9">
								<div class="input-group " style="">
									<div class="input-group-addon">gk_{existing.id}_</div>
									<input  id="{id}_scopeID" type="text" class="scopeID form-control input" placeholder="" style="" value="{scope}">
								</div>
							</div>
						</div>
						

						<div class="form-group">
							<label for="{id}_scopeTitle" class="col-sm-3 control-label">{_.name}</label>
							<div class="col-sm-9">
								<input style="" id="{id}_scopeTitle" type="text" class="scopeTitle form-control input" placeholder="{_.name_of_basic_access}" value="{title}" />	
							</div>
						</div>

						<div class="form-group">
							<label for="{id}_scopeDescr"  class="col-sm-3 control-label">{_.descr}</label>
							<div class="col-sm-9">
								<textarea style="" class="scopeDescr form-control" id="{id}_scopeDescr" placeholder="{_.basic_access_descr}">{descr}</textarea>
							</div>
						</div>

						<div class="form-group">
							<label for="{id}_scopePolicy" class="col-sm-6 control-label">{_.api_owner_accept_policy} </label>

							<div class="checkbox col-sm-6">
								<label><input id="{id}_scopePolicy" class="scopePolicy"
									{#policy.auto}
										checked="checked"
									{/policy.auto}
									type="checkbox"> {_.auto_accept}</label>

							</div>

						</div>

						<div class="form-group">
							<label for="{id}_scopePolicyOrgAdmin" class="col-sm-6 control-label">{_.organization_accept_policy} </label>

							<div class="checkbox col-sm-6">
								<label><input id="{id}_scopePolicyOrgAdmin" class="scopePolicyOrgAdmin"
									{^policy.orgadmin.moderate}
										checked="checked"
									{/policy.orgadmin.moderate}
									type="checkbox"> {_.auto_accept}</label>

								<div class="orgadmintarget" style="margin: 10px 14px 14px 14px"><p>{_.target_orgs} </p>
									<p><button class="btn btn-xs btn-warning actorgadmintarget"><i class="fa fa-list-ul"></i> {_.select_dots}</button>

										{@blockTrans key="num_selected"}
										{:num}
										<span class="shortorglist"  style="font-weight: bold; margin-left: 2em">0</span>
										{/blockTrans}
									</p>
								</div>

							</div>

						</div>

						<div><button class="btn btn-sm btn-danger pull-right actRemoveSubscope"><i class="fa fa-times"></i>&nbsp;{_.remove_this_subscope}</button></div>

					</form>
				</div>

			</div>




		{:else}
			<div>{_.no_subscopes_defined}</div>
		{/updated.scopedef.subscopes}








		<p>
			<button class="btn btn-default pull-right actAddSubScope"><i class="fa fa-plus"></i>&nbsp;{_.add_subscope}</button>
		</p>



	</div>
</div>









