



<div class="row">
	
	<div class="col-md-8">
		

		<h4>Connect status for organization</h4>




		<table class="table">
		

			<tr>
				<td style="text-align: right">		
					{#s.pilot}
						<span class="label label-success"><i class="fa fa-check"></i> Ja</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Nei</span>
					{/s.pilot}

				</td>
				<td colspan="2">Pilot – En eller flere kontaktpersoner har meldt seg fra institusjonen for deltagelse i piloten</td>
			</tr>


			<tr>
				<td style="text-align: right">			

					{#s.avtale}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke registrert</span>
					{/s.avtale}

				</td>
				<td colspan="2">Databehandleravtale – signert og sendt UNINETT</td>
			</tr>






			<tr>
				<td style="text-align: right">

					{#s.auth}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Nei</span>
					{/s.auth}

				</td>
				<td colspan="2">Autentisering – åpnet for i Feides kundeportal</td>
			</tr>



			<tr>
				<td style="text-align: right">

					{#s.LDAP}
						{#ldapstatus.OK}
							<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
						{:else}
							<span class="label label-danger"><i class="fa fa-exclamation-triangle"></i> Feil</span>
						{/ldapstatus.OK}
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Avventer konfig</span>
					{/s.LDAP}

				</td>
				<td colspan="2">LDAP-oppsett – Connect settes opp for å kommunisere med organisasjonens Feide katalog
					{#ldapstatus.message}
						<br> <span class="label label-danger"> {ldapstatus.message}</span>
					{/ldapstatus.message}
				</td>
			</tr>

			{#ldapstatus.endpoints}
			<tr>
			<tr>
			  <td/>
				<td style="text-align: right">

					{#OK}
						<span class="label label-success"><i class="fa fa-check"></i> OK</span>
					{:else}
						<span class="label label-danger"><i class="fa fa-exclamation-triangle"></i> Feil</span>
					{/OK}
						&nbsp;
				</td>
				<td style="width: 100%">LDAP-endepunkt {name}
					{#OK}
					{:else}
						<br> {result}
						{#message}
							– {message}</span>
						{/message}
					{/OK}
				</td>
			</tr>
			{/ldapstatus.endpoints}

			<tr>
				<td style="text-align: right">

					{#s.PeopleSearch}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke åpnet</span>
					{/s.PeopleSearch}

				</td>
				<td colspan="2">Personsøk – Connect tillates Feide katalog for brukersøk</td>
			</tr>



			<tr>
				<td style="text-align: right">

					{#s.FS}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke åpnet</span>
					{/s.FS}

				</td>
				<td colspan="2">FS integrasjon – Connect tillates uttrekk av grupper fra institusjonens FS database.</td>
			</tr>



			<tr>
				<td style="text-align: right">

					{#s.Geo}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke registrert</span>
					{/s.Geo}

				</td>
				<td colspan="2">Geografisk posisjon registrert – Connect registrerer koordinater for en eller flere Campus for å gjøre det enklere å finne riktig institusjon.</td>
			</tr>





		</table>




	</div>
	<div class="col-md-4">
		

		<div class="media">

			<div class="media-body">
				<h3 class="media-heading">{name}</h3>
				<p>The registered realm is <tt>{realm}</tt>.</p>

				{?s.Geo}
					<h4>Geo koordinater</h4>
					{#uiinfo.geo}
						<p><i class="fa fa-map-marker"></i> {lat}, {lon}</p>
					{/uiinfo.geo}
				{/s.Geo}
			</div>
			<div class="media-right">
				<a href="#">
					<img class="media-object" src="https://api.feideconnect.no/orgs/{id}/logo" alt="Logo of organization {name}">
				</a>
				<p style="text-align: center"><i>Registrert logo</i></p>
			</div>
		</div>


	</div>


</div>

<!--
<div>
	<button class="btn btn-primary actManageStatus disabled">
		<i class="fa fa-wrench"></i> Configure my organization (coming soon)
	</button>	
</div>
-->
