

<h4>{_.accessdatasources}</h4>


<button class="btn btn-primary pull-right actManageAPIAuth"><i class="fa fa-list-ul"></i> {_.manageapiauthorizations}</button>

{?hasClients}

<p>
	{?hasMore}
		{@blockTrans key="orgadmin_apigk_overview_more"}
			{:clients}
				{#clients}
					<strong>{name}</strong>{@sep}, {/sep}
				{/clients}
			{:rest}
				{rest}
					{/blockTrans}
	{:else}
		{@blockTrans key="orgadmin_apigk_overview"}
			 {:clients}
				 {#clients}
					 <strong>{name}</strong>{@sep}, {/sep}
				 {/clients}
		 {/blockTrans}
	{/hasMore}

</p>

{:else}

	<p>{_.org_no_managed_clients}</p>

{/hasClients}

