



<div class="row">
	
	<div class="col-md-8">
		

		<h4>Connect status for organization</h4>




		<table class="table">
		

			<tr>
				<td style="text-align: right">		
					{#s.pilot}
						<span class="label label-success"><i class="fa fa-check"></i> Ja</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Nei</span>
					{/s.pilot}

				</td>
				<td>Pilot – En eller flere kontaktpersoner har meldt seg fra institusjonen for deltagelse i piloten</td>
			</tr>


			<tr>
				<td style="text-align: right">			

					{#s.avtale}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke registrert</span>
					{/s.avtale}

				</td>
				<td>Databehandleravtale – signert og sendt UNINETT</td>
			</tr>






			<tr>
				<td style="text-align: right">

					{#s.auth}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Nei</span>
					{/s.auth}

				</td>
				<td>Autentisering – åpnet for i Feides kundeportal</td>
			</tr>



			<tr id="ldapmain">
				<td style="text-align: right">

					{#s.LDAP}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> Konfigurert</span>
						<!--
						{#ldapstatus.OK}
							<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
						{:else}
							<span class="label label-danger"><i class="fa fa-exclamation-triangle"></i> Feil</span>
						{/ldapstatus.OK}
						-->
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Avventer konfig</span>
					{/s.LDAP}

				</td>
				<td>LDAP-oppsett – Connect settes opp for å kommunisere med organisasjonens Feide katalog
					{#ldapstatus.message}
						<br> <span class="label label-danger"> {ldapstatus.message}</span>
					{/ldapstatus.message}

					<div id="ldapstatuscontainer"></div>
				</td>
			</tr>


			<tr>
				<td style="text-align: right">

					{#s.PeopleSearch}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke åpnet</span>
					{/s.PeopleSearch}

				</td>
				<td>Personsøk – Connect tillates Feide katalog for brukersøk</td>
			</tr>



			<tr>
				<td style="text-align: right">

					{#s.FS}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke åpnet</span>
					{/s.FS}

				</td>
				<td>FS integrasjon – Connect tillates uttrekk av grupper fra institusjonens FS database.</td>
			</tr>



			<tr>
				<td style="text-align: right">

					{#s.Geo}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke registrert</span>
					{/s.Geo}

				</td>
				<td>Geografisk posisjon registrert – Connect registrerer koordinater for en eller flere Campus for å gjøre det enklere å finne riktig institusjon.</td>
			</tr>





		</table>




	</div>
	<div class="col-md-4">
		

		<div class="media">

			<div class="media-body">
				<h3 class="media-heading">{name}</h3>
				<p>The registered realm is <tt>{realm}</tt>.</p>

				{?s.Geo}
					<h4>Geo koordinater</h4>
					{#uiinfo.geo}
						<p><i class="fa fa-map-marker"></i> {lat}, {lon}</p>
					{/uiinfo.geo}
				{/s.Geo}
			</div>
			<div class="media-right">
				<a href="#">
					<img class="media-object" src="https://api.feideconnect.no/orgs/{id}/logo" alt="Logo of organization {name}">
				</a>
				<p style="text-align: center"><i>Registrert logo</i></p>
			</div>
		</div>


	</div>


</div>

<!--
<div>
	<button class="btn btn-primary actManageStatus disabled">
		<i class="fa fa-wrench"></i> Configure my organization (coming soon)
	</button>	
</div>
-->
