



<div class="row">
	
	<div class="col-md-8">
		

		<h4>Dataporten status for organization</h4>




		<table class="table">
		

			<tr>
				<td style="text-align: right">			

					{#s.avtale}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke registrert</span>
					{/s.avtale}

				</td>
				<td>Databehandleravtale – signert og sendt UNINETT</td>
			</tr>






			<tr>
				<td style="text-align: right">

					{#s.auth}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Nei</span>
					{/s.auth}

				</td>
				<td>Autentisering – åpnet for i Feides kundeportal</td>
			</tr>



			<tr id="ldapmain">
				<td style="text-align: right">

					{#s.LDAP}

						<span class="label label-success"><i class="fa fa-check-square-o"></i> Konfigurert</span>
						<!--

						{#ldapstatus.OK}
							<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
						{:else}
							<span class="label label-danger"><i class="fa fa-exclamation-triangle"></i> Feil</span>
						{/ldapstatus.OK}

						-->

					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Avventer konfig</span>
					{/s.LDAP}

				</td>

				<td>LDAP-oppsett – Dataporten settes opp for å kommunisere med organisasjonens Feide katalog
					{#ldapstatus.message}
						<br> <span class="label label-danger"> {ldapstatus.message}</span>
					{/ldapstatus.message}

					<div id="ldapstatuscontainer"></div>

				</td>
			</tr>

			{#ldapstatus.endpoints}
			<tr>
			<tr>
			  <td/>
				<td style="text-align: right">

					{#OK}
						<span class="label label-success"><i class="fa fa-check"></i> OK</span>
					{:else}
						<span class="label label-danger"><i class="fa fa-exclamation-triangle"></i> Feil</span>
					{/OK}
						&nbsp;
				</td>
				<td style="width: 100%">LDAP-endepunkt {name}
					{#OK}
					{:else}
						<br> {result}
						{#message}
							– {message}</span>
						{/message}
					{/OK}
				</td>
			</tr>
			{/ldapstatus.endpoints}

			<tr>
				<td style="text-align: right">

					{#s.PeopleSearch}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke åpnet</span>
					{/s.PeopleSearch}

				</td>
				<td>Personsøk – Dataporten tillates Feide katalog for brukersøk</td>
			</tr>



			<tr>
				<td style="text-align: right">

					{#s.fsgroups}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke åpnet</span>
					{/s.fsgroups}

				</td>
				<td>FS integrasjon – Dataporten tillates uttrekk av grupper fra institusjonens FS database.</td>
			</tr>



			<tr>
				<td style="text-align: right">

					{#s.Geo}
						<span class="label label-success"><i class="fa fa-check-square-o"></i> OK</span>
					{:else}
						<span class="label label-warning"><i class="fa fa-square-o"></i> Ikke registrert</span>
					{/s.Geo}

				</td>
				<td>Geografisk posisjon registrert – Dataporten registrerer koordinater for en eller flere Campus for å gjøre det enklere å finne riktig institusjon.</td>
			</tr>


		</table>




	</div>
	<div class="col-md-4">
		

		<div class="media">

			<div class="media-body">
				<h3 class="media-heading">{name}</h3>
				<p>The registered realm is <tt>{realm}</tt>.</p>

				{?s.Geo}
					<h4>Geo koordinater</h4>
					{#uiinfo.geo}
						<p><i class="fa fa-map-marker"></i> {lat}, {lon} <a target="_blank" href="http://www.google.com/maps/place/{lat},{lon}"><i class="fa fa-google"></i>-map</a></p>
					{/uiinfo.geo}
				{/s.Geo}
			</div>
			<div class="media-right">
				<div class="imagezone" style="min-height: 128px; min-width: 128px">
					<img class="media-object itemlogo" src="{._config.apis.core}/orgs/{id}/logo" alt="Logo of organization {name}">
				</div>
				<p style="text-align: center"><i>Registrert logo</i></p>
			</div>
		</div>

		<div>
			<img class="img-responsive img-thumbnail" src="{mapurl}">
		</div>

		{?isPlatformAdmin}
		<div class="well">
			<h3>Platform admin</h3>

			<p>To update organization logo, drag and drop a new logo over the existing one.</p>

			<!-- Single button -->
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-warning"></i> Platform admin operations <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a class="actAvtale0" href="#"><i class="fa fa-fw fa-check"></i> Sett avtale</a></li>
					<li><a class="actAvtale1" href="#"><i class="fa fa-fw fa-times"></i> Fjern avtale</a></li>
					<li role="separator" class="divider"></li>

			<!-- 		<li><a class="actSok0" href="#"><i class="fa fa-fw fa-check"></i> Sett personsøk</a></li>
					<li><a class="actSok1" href="#"><i class="fa fa-fw fa-times"></i> Fjern personsøk</a></li>
					<li role="separator" class="divider"></li> -->

					<li><a class="actGrupper0" href="#"><i class="fa fa-fw fa-check"></i> Sett grupper fra FS</a></li>
					<li><a class="actGrupper1" href="#"><i class="fa fa-fw fa-times"></i> Fjern grupper fra FS</a></li>
					<li role="separator" class="divider"></li>

					
					<li><a class="actGeo" href="#"><i class="fa fa-fw fa-map-marker"></i> Edit geo-coordinates</a></li>
				</ul>
			</div>

		</div>
		{/isPlatformAdmin}


	</div>


</div>


<div id="geoeditorcontainer" style="display:none">
	<h3>Geo-coordinate editor</h3>
	<textarea id="geoeditor" class="form-control" rows="10"></textarea>
	<p style="margin-top: .3em">
		<button class="actSaveGeo btn btn-primary">Save changes</button>
		<button class="actCancelGeo btn btn-default">Cancel</button>
	</p>

	<p>Example syntax:</p>
	<pre>
[
    {
        "lat": 63.415879,
        "lon": 10.395438,
		"title": "Teknobyen"
    }
]
	</pre>

</div>

<!--
<div>
	<button class="btn btn-primary actManageStatus disabled">
		<i class="fa fa-wrench"></i> Configure my organization (coming soon)
	</button>	
</div>
-->
