

<h4>{_.madatoryapps}</h4>

<button class="btn btn-primary pull-right actManageMandatory"><i class="fa fa-list-ul"></i> {_.managemandatory}</button>

{?hasClients}
<p>
	{?hasMore}
		{@blockTrans key="mandatory_clients_overview_more"}
			{:clients}
				{#clients}
					<strong>{name}</strong>{@sep}, {/sep}
				{/clients}
			{:rest}
				{rest}
		{/blockTrans}
	{:else}
		{@blockTrans key="mandatory_clients_overview"}
			 {:clients}
				 {#clients}
					 <strong>{name}</strong>{@sep}, {/sep}
				 {/clients}
		 {/blockTrans}
	{/hasMore}
	</p>

{:else}
	<p>{_.nomandatory}</p>
{/hasClients}
